*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #efefef;
  overflow-x: hidden; }

main,
section {
  position: relative;
  display: block;
  width: 100%; }

::selection {
  background-color: #008997;
  color: #fff; }

#main__intro {
  position: relative;
  top: -20rem;
  display: block; }

body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: 100;
  color: #000; }

h1,
h2,
h3,
h4 {
  width: 100%; }

strong {
  font-family: "FNBSansBold", sans-serif; }

p,
.paragraph {
  font-size: 1.6rem;
  line-height: 2.5rem;
  position: relative;
  top: .6rem; }
  p:not(:last-child),
  .paragraph:not(:last-child) {
    margin-bottom: 2.5rem; }
  p--white,
  .paragraph--white {
    color: #fff; }
  p--padding,
  .paragraph--padding {
    padding-left: 2.5rem; }

.heading {
  position: relative;
  width: 100%;
  display: block;
  transition: all .5s; }
  .heading--white {
    color: #fff; }
  .heading--turq {
    color: #008997; }
  .heading--0 {
    font-family: "FNBSansThin", sans-serif;
    font-size: 20rem;
    line-height: 20rem;
    top: 1.4rem;
    letter-spacing: -5px; }
    .heading--0:not(:last-child) {
      margin-bottom: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .heading--0 {
        top: 1.5rem;
        font-size: 10rem;
        line-height: 10rem; } }
  .heading--1 {
    font-family: "FNBSansRegular", sans-serif;
    font-size: 10rem;
    line-height: 10rem;
    top: 1.4rem; }
    .heading--1:not(:last-child) {
      margin-bottom: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .heading--1 {
        top: 1.5rem;
        font-size: 10rem;
        line-height: 10rem; } }
  .heading--2 {
    font-family: "FNBSansRegular", sans-serif;
    font-size: 5rem;
    line-height: 5rem;
    top: .5rem; }
    .heading--2:not(:last-child) {
      margin-bottom: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .heading--2 {
        font-size: 5rem;
        line-height: 5rem; } }
  .heading--3 {
    font-family: "FNBSansThin", sans-serif;
    font-size: 3.5rem;
    line-height: 3.8rem;
    top: 2rem; }
    .heading--3:not(:last-child) {
      margin-bottom: 3.7rem; }
    @media only screen and (max-width: 37.5em) {
      .heading--3 {
        top: 2rem;
        font-size: 3.5rem;
        line-height: 4rem; } }
  .heading--4 {
    font-family: "FNBSansLight", sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    top: .8rem; }
    .heading--4:not(:last-child) {
      margin-bottom: 2.4rem; }
    @media only screen and (max-width: 37.5em) {
      .heading--4 {
        font-size: 2rem;
        line-height: 2.5rem; } }
  .heading--spacing1 {
    letter-spacing: 2px; }
  .heading--spacing2 {
    letter-spacing: 5px; }
  .heading--right {
    text-align: right; }
  .heading--center {
    text-align: center; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.5;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.5;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  50% {
    opacity: 0.5;
    transform: translateY(-2%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInScrolly {
  0% {
    transform: translateY(100%); }
  50% { }
  100% {
    transform: translateY(0); } }

.btn {
  width: calc(100% - 20px);
  max-width: 30rem;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  height: 5rem; }
  .btn:not(:last-child) {
    margin-bottom: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      margin-bottom: 1rem;
      min-width: 20rem; } }
  .btn--white {
    background-color: #fff;
    color: #000;
    padding: 1rem 4rem;
    display: inline-block; }
  .btn--black {
    background-color: #000;
    color: #fff;
    padding: 1rem 4rem;
    display: inline-block; }
    .btn--black::after {
      background-color: #000; }
  .btn--shadow {
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.3); }
  .btn, .btn:link, .btn:visited {
    text-decoration: none;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:visited {
    text-decoration: none;
    border-radius: 2.4rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.2); }
  .btn::before, .btn::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10px;
    border-radius: 100%;
    height: 5rem;
    z-index: 300;
    background-color: inherit; }
  .btn::before {
    left: -5px; }
  .btn::after {
    left: calc(100% - 5px); }
  .btn--animated {
    animation: moveInBottom .5s ease-out .7s;
    animation-fill-mode: backwards; }

.icon-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 8.5rem;
  height: 12rem; }
  .icon-btn:active, .icon-btn:focus {
    outline: none; }
  .icon-btn__icon {
    position: relative;
    display: block;
    margin: 0 1rem;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 2.4rem;
    box-shadow: 0.1rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border: none;
    cursor: pointer; }
    .icon-btn__icon, .icon-btn__icon:link, .icon-btn__icon:visited {
      text-decoration: none;
      transition: all .2s;
      position: relative;
      border: none;
      cursor: pointer; }
    .icon-btn__icon:visited {
      text-decoration: none;
      transition: all .2s;
      position: relative; }
    .icon-btn__icon:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .icon-btn__icon:hover::after {
        opacity: 0; }
    .icon-btn__icon:active, .icon-btn__icon:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.2); }
    .icon-btn__icon--white {
      background-color: #fff; }
    .icon-btn__icon--turq {
      background-color: #008997; }
    .icon-btn__icon--amber {
      background-color: #FA9D1E; }
    .icon-btn__icon--wire--black {
      background-color: transparent;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
      border: 0.1rem solid #000;
      color: #000; }
      .icon-btn__icon--wire--black:hover {
        transform: translateY(-3px);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2); }
        .icon-btn__icon--wire--black:hover::after {
          opacity: 0; }
    .icon-btn__icon--wire--white {
      background-color: transparent;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
      border: 0.1rem solid #fff;
      color: #fff; }
      .icon-btn__icon--wire--white:hover {
        transform: translateY(-3px);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2); }
        .icon-btn__icon--wire--white:hover::after {
          opacity: 0; }
  .icon-btn__label {
    position: relative;
    width: 100%;
    display: block;
    top: .5rem;
    font-size: 1.3rem;
    text-align: center; }
    .icon-btn__label--white {
      color: #fff; }
  .icon-btn--center {
    margin: 0 auto;
    display: block; }

.text-btn {
  display: block;
  position: relative; }
  .text-btn, .text-btn:link, .text-btn:visited {
    font-size: 1.6rem;
    font-weight: bold;
    color: #008997;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all .2s; }
    @media only screen and (max-width: 37.5em) {
      .text-btn, .text-btn:link, .text-btn:visited {
        background-position: 0px 2px; } }
  .text-btn:visited {
    text-decoration: none;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    color: #008997; }
  .text-btn:hover {
    background-position: 5px .5rem;
    color: #FA9D1E; }
    @media only screen and (max-width: 37.5em) {
      .text-btn:hover {
        background-position: 5px 2px; } }
  .text-btn:active, .text-btn:focus {
    outline: none;
    transform: translateY(-1px); }
  .text-btn--bottom {
    position: fixed;
    bottom: 2.5rem; }
  .text-btn--white, .text-btn--white:link, .text-btn--white:visited, .text-btn--white:hover, .text-btn--white:active, .text-btn--white:focus {
    color: #fff;
    background-image: url(../img/chevron-thin-right-white.svg);
    background-size: 1rem;
    display: block;
    padding: 4px 2rem; }

.cookie-btn {
  display: block;
  position: relative; }
  .cookie-btn, .cookie-btn:link, .cookie-btn:visited {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
    background-image: url(../../img/SVG/chevron-thin-left.svg);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 0 0;
    height: 4rem;
    padding: 0 2rem;
    border: none;
    cursor: pointer;
    transition: all .2s; }
    @media only screen and (max-width: 37.5em) {
      .cookie-btn, .cookie-btn:link, .cookie-btn:visited {
        font-size: 2rem;
        padding-left: 2rem;
        background-position: 0px 2px; } }
    .cookie-btn:last-child, .cookie-btn:link:last-child, .cookie-btn:visited:last-child {
      margin-right: auto; }
  .cookie-btn:visited {
    text-decoration: none;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    color: #000; }
  .cookie-btn:hover {
    background-position: 5px 0;
    color: #000; }
    @media only screen and (max-width: 37.5em) {
      .cookie-btn:hover {
        background-position: 5px 2px; } }
  .cookie-btn:active, .cookie-btn:focus {
    outline: none;
    transform: translateY(-1px); }
  .cookie-btn--bottom {
    position: fixed;
    bottom: 2.5rem; }
  .cookie-btn--white, .cookie-btn--white:link, .cookie-btn--white:visited, .cookie-btn--white:hover, .cookie-btn--white:active, .cookie-btn--white:focus {
    color: #fff;
    background-image: url(../../img/SVG/chevron-thin-left-white.svg);
    background-size: 1rem;
    display: block;
    padding: 4px 2rem; }

.textBtn, .textBtn:link, .textBtn:visited {
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
  color: #008997;
  background-image: url(../../img/SVG/chevron-thin-right.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 0 .5rem;
  height: 4rem;
  padding-left: 2rem;
  border: none;
  cursor: pointer;
  transition: all .2s; }
  @media only screen and (max-width: 37.5em) {
    .textBtn, .textBtn:link, .textBtn:visited {
      font-size: 2rem;
      padding-left: 2rem;
      background-position: 0px 2px; } }

.textBtn:visited {
  text-decoration: none;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  color: #000; }

.textBtn:hover {
  background-position: 5px .5rem;
  color: #000; }
  @media only screen and (max-width: 37.5em) {
    .textBtn:hover {
      background-position: 5px 2px; } }

.textBtn:active, .textBtn:focus {
  outline: none;
  transform: translateY(-1px); }

.textBtn--bottom {
  position: fixed;
  bottom: 2.5rem; }

.textBtn--white, .textBtn--white:link, .textBtn--white:visited, .textBtn--white:hover, .textBtn--white:active, .textBtn--white:focus {
  color: #fff;
  background-image: url(../../img/SVG/chevron-thin-right-white.svg);
  background-size: 1rem;
  display: inline-block;
  padding: 4px 2rem; }

.textBtn--white2, .textBtn--white2:link, .textBtn--white2:visited, .textBtn--white2:hover, .textBtn--white2:active, .textBtn--white2:focus {
  color: #fff;
  background-image: url(../../img/SVG/chevron-thin-right-white.svg);
  background-size: 1rem;
  display: block;
  padding: 4px 2rem; }

.cards {
  position: relative;
  width: 90%;
  left: 5%;
  display: block;
  background-color: #fff;
  padding-bottom: 2.5rem;
  transition: all .4s;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .cards {
      width: 100%;
      left: 0; } }
  @media only screen and (max-width: 37.5em) {
    .cards {
      width: 100%;
      left: 0; } }
  .cards__move_up {
    margin-top: -20%; }
  .cards__background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../../img/cards_bg.svg), linear-gradient(to right bottom, #008997, #006666);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 90%); }
    @media only screen and (max-width: 37.5em) {
      .cards__background {
        clip-path: polygon(0 5%, 100% 0, 100% 90%, 0 95%); } }
    .cards__background__white {
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
    .cards__background__2 {
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
      background-image: url(../../img/header_bg.jpg); }
    .cards__background__3 {
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
      @media only screen and (max-width: 37.5em) {
        .cards__background__3 {
          clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%); } }
    .cards__background__4 {
      clip-path: none; }
    .cards__background__5 {
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
    .cards__background__6 {
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
  .cards__content {
    width: 90%;
    padding-top: 25rem;
    position: relative;
    left: 5%;
    transition: all .4s; }
    .cards__content__demos {
      padding-top: 0; }
    .cards__content__security {
      padding-bottom: 25rem; }
    @media only screen and (max-width: 37.5em) {
      .cards__content {
        padding-top: 12.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .cards__content__pading-top-phone {
        padding-top: 25rem; } }
  .cards__row {
    min-height: 100%;
    position: relative;
    height: auto;
    margin-bottom: 2.5rem !important;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap; }
    .cards__row__move_down {
      margin-top: 10%; }
    .cards__row__padding-bottom {
      padding-bottom: 12.5rem; }
    .cards__row__card {
      position: relative;
      width: calc((100% - 2 * 2.5rem) / 3);
      min-height: 35rem;
      border-radius: 1rem;
      background-color: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      padding: 2.5rem 2.5rem 0 2.5rem;
      margin-bottom: 2.5rem;
      z-index: 5;
      float: left;
      margin-right: 2.5rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transition: all .4s; }
      .cards__row__card:nth-child(3n+0) {
        margin-right: 0; }
      .cards__row__card__half {
        width: calc((100% - 1 * 2.5rem) / 2); }
        .cards__row__card__half:nth-child(3n+0) {
          margin-right: 2.5rem; }
        .cards__row__card__half:nth-child(2n+0) {
          margin-right: 0; }
      .cards__row__card__third {
        width: calc((100% - 2 * 2.5rem) / 3); }
        .cards__row__card__third:nth-child(3n+0) {
          margin-right: 2.5rem; }
        .cards__row__card__third:nth-child(2n+0) {
          margin-right: 0; }
      .cards__row__card__two-thirds {
        width: calc( 2 * ((100% - 2 * 2.5rem) / 3) + 2.5rem); }
        .cards__row__card__two-thirds:nth-child(3n+0) {
          margin-right: 2.5rem; }
        .cards__row__card__two-thirds:nth-child(2n+0) {
          margin-right: 0; }
      .cards__row__card__full {
        width: 100%; }
      .cards__row__card__turq {
        background-color: #008997; }
      .cards__row__card__header {
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        overflow: hidden;
        padding: 0; }
        @media only screen and (max-width: 37.5em) {
          .cards__row__card__header {
            display: flex;
            justify-content: flex-end; } }
        .cards__row__card__header__align-bottom {
          justify-content: flex-end;
          padding-bottom: 2.5rem; }
        .cards__row__card__header__align-top {
          justify-content: flex-start;
          padding-bottom: 2.5rem; }
      .cards__row__card__icon {
        position: absolute;
        transform: rotate(30deg);
        left: -10%;
        top: -10%;
        z-index: 1;
        transition: all .4s; }
      .cards__row__card__icon img {
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border-radius: 4rem; }
        @media only screen and (max-width: 75em) {
          .cards__row__card__icon img {
            width: 80%;
            left: 0; } }
        @media only screen and (max-width: 37.5em) {
          .cards__row__card__icon img {
            width: 80%;
            left: 0; } }
      .cards__row__card__heading {
        position: relative;
        font-family: "FNBSansLight", sans-serif;
        font-size: 3.5rem;
        line-height: 3.8rem;
        margin-bottom: 2.5rem;
        text-align: right;
        top: .8rem;
        right: 0px;
        z-index: 2;
        width: 75%;
        margin-left: 25%; }
        .cards__row__card__heading__turq {
          color: #fff; }
      .cards__row__card__paragraph {
        text-align: right;
        font-size: 1.6rem;
        line-height: 2.5rem;
        position: relative;
        top: .6rem;
        width: 75%;
        margin-left: 25%;
        margin-bottom: 2.5rem;
        z-index: 2; }
        .cards__row__card__paragraph__turq {
          color: #fff; }
      .cards__row__card__link {
        text-align: left;
        z-index: 2;
        background-image: url(../img/chevronR.svg);
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: 0 .5rem;
        min-height: 2.5rem;
        padding-top: .3rem;
        padding-left: 2rem; }
        .cards__row__card__link:last-child {
          margin-bottom: 1rem; }
        .cards__row__card__link:hover {
          background-position: 5px .5rem;
          color: #FA9D1E; }
          @media only screen and (max-width: 37.5em) {
            .cards__row__card__link:hover {
              background-position: 5px 2px; } }
      .cards__row__card:hover {
        transform: scale(1.05); }
      .cards__row__card__header:hover {
        transform: none;
        cursor: unset; }
      .cards__row__card:hover .cards__row__card__icon {
        transform: rotate(30deg) scale(0.9); }
    @media only screen and (max-width: 56.25em) {
      .cards__row__card {
        width: calc((100% - 1 * 2.5rem) / 2); }
      .cards__row__card:nth-child(3n+0) {
        margin-right: 2.5rem; }
      .cards__row__card:nth-child(2n+0) {
        margin-right: 0; } }
    @media only screen and (max-width: 37.5em) {
      .cards__row {
        flex-direction: column;
        margin-bottom: 0 !important; }
        .cards__row__card {
          width: 100%;
          margin-bottom: 2.5rem;
          margin-right: 0; } }

.row {
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row__height1 {
    min-height: 2.5rem; }
  .row__height2 {
    min-height: 5rem; }
  .row__height3 {
    min-height: 7.5rem; }
  .row__height4 {
    min-height: 10rem; }
  .row__height5 {
    min-height: 12.5rem; }
  .row__height6 {
    min-height: 15rem; }
  .row__height7 {
    min-height: 17.5rem; }
  .row__height8 {
    min-height: 20rem; }
  .row__height9 {
    min-height: 22.5rem; }
  .row__height10 {
    min-height: 25rem; }
  .row__height11 {
    min-height: 27.5rem; }
  .row__height12 {
    min-height: 30rem; }
  .row__height13 {
    min-height: 32.5rem; }
  .row__height14 {
    min-height: 35rem; }
  .row__height15 {
    min-height: 37.5rem; }
  .row__height16 {
    min-height: 40rem; }
  .row__height17 {
    min-height: 42.5rem; }
  .row__height18 {
    min-height: 45rem; }
  .row__height19 {
    min-height: 47.5rem; }
  .row__height20 {
    min-height: 50rem; }
  .row__height21 {
    min-height: 52.5rem; }
  .row__height22 {
    min-height: 55rem; }
  .row__height23 {
    min-height: 57.2rem; }
  .row__height24 {
    min-height: 60rem; }
  .row__height25 {
    min-height: 62.5rem; }
  .row__height26 {
    min-height: 65rem; }
  .row__height27 {
    min-height: 67.5rem; }
  .row__height28 {
    min-height: 70rem; }
  .row__height29 {
    min-height: 72.5rem; }
  .row__height30 {
    min-height: 75rem; }
  .row__height100 {
    min-height: 100%;
    position: relative;
    height: auto;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 56.25em) {
      .row__height100--tp {
        min-height: 100%;
        position: relative;
        height: auto; } }
    @media only screen and (max-width: 37.5em) {
      .row__height100--p {
        min-height: 100%;
        position: relative;
        height: auto; } }
  .row [class^="col-"] {
    float: left;
    min-height: inherit; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2.5rem; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 2.5rem) / 2); }
  .row .col-1-of-12 {
    width: calc((100% - 11 * 2.5rem) / 12); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2.5rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 2.5rem) / 3) + 2.5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2.5rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 2.5rem) / 4) + 2.5rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 2.5rem) / 4) + (2.5rem * 2)); }

.gridTest {
  width: 80%;
  left: 10%;
  min-height: 75rem;
  position: fixed;
  top: 0;
  z-index: 100;
  z-index: 999; }
  @media only screen and (max-width: 56.25em) {
    .gridTest {
      width: 90%;
      left: 5%; } }
  @media only screen and (max-width: 37.5em) {
    .gridTest {
      width: 90%;
      left: 5%; } }
  .gridTest--Z-0 {
    z-index: -1; }
  .gridTest--Z-1 {
    z-index: 112; }
  .gridTest--absolute {
    position: absolute;
    left: 0;
    top: 0; }
    .gridTest--absolute--padding-left {
      padding-left: 2.5rem; }
  .gridTest--absolute2 {
    position: absolute;
    top: auto; }
  .gridTest__row {
    position: relative;
    display: block;
    background-color: rgba(250, 157, 30, 0.2);
    border-bottom: 1px solid rgba(250, 157, 30, 0.8); }
    .gridTest__row__height1 {
      min-height: 2.5rem; }
    .gridTest__row__height2 {
      min-height: 5rem; }
    .gridTest__row__height3 {
      min-height: 7.5rem; }
    .gridTest__row__height4 {
      min-height: 10rem; }
    .gridTest__row__height5 {
      min-height: 12.5rem; }
    .gridTest__row__height6 {
      min-height: 15rem; }
    .gridTest__row__height7 {
      min-height: 17.5rem; }
    .gridTest__row__height8 {
      min-height: 20rem; }
    .gridTest__row__height9 {
      min-height: 22.5rem; }
    .gridTest__row__height10 {
      min-height: 25rem; }
    .gridTest__row__height11 {
      min-height: 27.5rem; }
    .gridTest__row__height12 {
      min-height: 30rem; }
    .gridTest__row__height13 {
      min-height: 32.5rem; }
    .gridTest__row__height14 {
      min-height: 35rem; }
    .gridTest__row__height15 {
      min-height: 37.5rem; }
    .gridTest__row__height16 {
      min-height: 40rem; }
    .gridTest__row__height17 {
      min-height: 42.5rem; }
    .gridTest__row__height18 {
      min-height: 45rem; }
    .gridTest__row__height19 {
      min-height: 47.5rem; }
    .gridTest__row__height20 {
      min-height: 50rem; }
    .gridTest__row__height21 {
      min-height: 52.5rem; }
    .gridTest__row__height22 {
      min-height: 55rem; }
    .gridTest__row__height23 {
      min-height: 57.2rem; }
    .gridTest__row__height24 {
      min-height: 60rem; }
    .gridTest__row__height25 {
      min-height: 62.5rem; }
    .gridTest__row__height26 {
      min-height: 65rem; }
    .gridTest__row__height27 {
      min-height: 67.5rem; }
    .gridTest__row__height28 {
      min-height: 70rem; }
    .gridTest__row__height29 {
      min-height: 72.5rem; }
    .gridTest__row__height30 {
      min-height: 75rem; }
    .gridTest__row [class^="col-"] {
      float: left;
      min-height: inherit;
      background-color: rgba(250, 157, 30, 0.2);
      display: inline-block; }
      .gridTest__row [class^="col-"]:not(:last-child) {
        margin-right: 2.5rem; }
    .gridTest__row .col-1-of-1 {
      width: 100%; }
    .gridTest__row .col-1-of-2 {
      width: calc((100% - 2.5rem) / 2);
      height: 100%; }
    .gridTest__row .col-1-of-3 {
      width: calc((100% - 2 * 2.5rem) / 3); }
    .gridTest__row .col-1-of-4 {
      width: calc((100% - 3 * 2.5rem) / 4); }
    .gridTest__row .col-1-of-5 {
      width: calc((100% - 4 * 2.5rem) / 5); }
    .gridTest__row .col-1-of-6 {
      width: calc((100% - 5 * 2.5rem) / 6); }
    .gridTest__row .col-1-of-12 {
      width: calc((100% - 11 * 2.5rem) / 12); }
    .gridTest__row .col-2-of-3 {
      width: calc(2 * ((100% - 2 * 2.5rem) / 3) + 2.5rem); }
    .gridTest__row .col-2-of-4 {
      width: calc(2 * ((100% - 3 * 2.5rem) / 4) + 2.5rem); }
    .gridTest__row .col-2-of-12 {
      width: calc(2 * ((100% - 11 * 2.5rem) / 12) + 2.5rem); }
    .gridTest__row .col-3-of-4 {
      width: calc(3 * ((100% - 3 * 2.5rem) / 4) + (2.5rem) * 2); }
    .gridTest__row .col-3-of-12 {
      width: calc(3 * ((100% - 10 * 2.5rem) / 12) + (2.5rem) * 2); }
    .gridTest__row .col-4-of-12 {
      width: calc(4 * ((100% - 9 * 2.5rem) / 12) + (2.5rem) * 2); }
    .gridTest__row .col-5-of-12 {
      width: calc(5 * ((100% - 8 * 2.5rem) / 12) + (2.5rem) * 2); }
    .gridTest__row .col-6-of-12 {
      width: calc((100% - 11 * 2.5rem) / 6); }
    .gridTest__row .col-7-of-12 {
      width: calc((100% - 11 * 2.5rem) / 7); }
    .gridTest__row .col-11-of-12 {
      width: calc(6 * ((100% - 8 * 2.5rem) / 12) + (2.5rem) * 2); }
    .gridTest__row--z-1 {
      z-index: 1; }
    .gridTest__row__content {
      position: absolute;
      width: 80%;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0); }
      @media only screen and (max-width: 75em) {
        .gridTest__row__content {
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); } }
      @media only screen and (max-width: 56.25em) {
        .gridTest__row__content {
          width: 90%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0); } }
      @media only screen and (max-width: 37.5em) {
        .gridTest__row__content {
          width: calc(100% - 4 * 2.5rem);
          min-width: 320px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0); } }
      @media only screen and (min-width: 112.5em) {
        .gridTest__row__content {
          width: 80%; } }

.gridTest2 {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 100; }
  .gridTest2--Z-1 {
    z-index: 1; }
  .gridTest2__row {
    position: relative;
    display: block;
    background-color: rgba(250, 157, 30, 0.2);
    border-bottom: 1px solid rgba(250, 157, 30, 0.8); }
    .gridTest2__row__height1 {
      min-height: 2.5rem; }
    .gridTest2__row__height2 {
      min-height: 5rem; }
    .gridTest2__row__height3 {
      min-height: 7.5rem; }
    .gridTest2__row__height4 {
      min-height: 10rem; }
    .gridTest2__row__height5 {
      min-height: 12.5rem; }
    .gridTest2__row__height6 {
      min-height: 15rem; }
    .gridTest2__row__height7 {
      min-height: 17.5rem; }
    .gridTest2__row__height8 {
      min-height: 20rem; }
    .gridTest2__row__height9 {
      min-height: 22.5rem; }
    .gridTest2__row__height10 {
      min-height: 25rem; }
    .gridTest2__row__height11 {
      min-height: 27.5rem; }
    .gridTest2__row__height12 {
      min-height: 30rem; }
    .gridTest2__row__height13 {
      min-height: 32.5rem; }
    .gridTest2__row__height14 {
      min-height: 35rem; }
    .gridTest2__row__height15 {
      min-height: 37.5rem; }
    .gridTest2__row__height16 {
      min-height: 40rem; }
    .gridTest2__row__height17 {
      min-height: 42.5rem; }
    .gridTest2__row__height18 {
      min-height: 45rem; }
    .gridTest2__row__height19 {
      min-height: 47.5rem; }
    .gridTest2__row__height20 {
      min-height: 50rem; }
    .gridTest2__row__height21 {
      min-height: 52.5rem; }
    .gridTest2__row__height22 {
      min-height: 55rem; }
    .gridTest2__row__height23 {
      min-height: 57.2rem; }
    .gridTest2__row__height24 {
      min-height: 60rem; }
    .gridTest2__row__height25 {
      min-height: 62.5rem; }
    .gridTest2__row__height26 {
      min-height: 65rem; }
    .gridTest2__row__height27 {
      min-height: 67.5rem; }
    .gridTest2__row__height28 {
      min-height: 70rem; }
    .gridTest2__row__height29 {
      min-height: 72.5rem; }
    .gridTest2__row__height30 {
      min-height: 75rem; }
    .gridTest2__row__inner80 {
      position: relative;
      display: block;
      width: 80%;
      margin: 0 auto; }
    .gridTest2__row__inner80__overlay {
      position: absolute;
      display: block;
      width: 100%;
      margin: 0 auto;
      top: 0; }
      .gridTest2__row__inner80__overlay--10 {
        position: absolute;
        width: 10%; }
      .gridTest2__row__inner80__overlay--10r {
        position: absolute;
        width: 10%;
        right: 0; }
      .gridTest2__row__inner80__overlay--20 {
        position: absolute;
        width: 2.5rem;
        left: calc((99% - 2.5rem) / 2); }
      .gridTest2__row__inner80__overlay--30 {
        position: absolute;
        width: 2.5rem;
        left: calc((109% - 2 * 2.5rem) / 3); }
      .gridTest2__row__inner80__overlay--30r {
        position: absolute;
        width: 2.5rem;
        right: calc((111% - 2 * 2.5rem) / 3); }
    .gridTest2__row [class^="col-"] {
      float: left;
      background-color: rgba(250, 157, 30, 0.5);
      display: block;
      min-height: inherit; }
      .gridTest2__row [class^="col-"]:not(:last-child) {
        margin-right: 2.5rem; }
    .gridTest2__row .col-1-of-1 {
      width: 100%; }
    .gridTest2__row .col-1-of-2 {
      width: calc((100% - 2.5rem) / 2); }
    .gridTest2__row .col-1-of-3 {
      width: calc((100% - 2 * 2.5rem) / 3); }
    .gridTest2__row .col-1-of-4 {
      width: calc((100% - 3 * 2.5rem) / 4); }
    .gridTest2__row .col-1-of-5 {
      width: calc((99% - 4 * 2.5rem) / 5); }
    .gridTest2__row .col-1-of-6 {
      width: calc((100% - 5 * 2.5rem) / 6); }
    .gridTest2__row .col-1-of-12 {
      width: calc((100% - 11 * 2.5rem) / 12); }
    .gridTest2__row .col-2-of-3 {
      width: calc(2 * ((100% - 2 * 2.5rem) / 3) + 2.5rem); }
    .gridTest2__row .col-2-of-4 {
      width: calc(2 * ((100% - 3 * 2.5rem) / 4) + 2.5rem); }
    .gridTest2__row .col-2-of-12 {
      width: calc(2 * ((100% - 11 * 2.5rem) / 12) + 2.5rem); }
    .gridTest2__row .col-3-of-4 {
      width: calc(3 * ((100% - 3 * 2.5rem) / 4) + (2.5rem) * 2); }
    .gridTest2__row .col-3-of-12 {
      width: calc(3 * ((100% - 10 * 2.5rem) / 12) + (2.5rem) * 2); }
    .gridTest2__row .col-4-of-12 {
      width: calc(4 * ((100% - 9 * 2.5rem) / 12) + (2.5rem) * 2); }
    .gridTest2__row .col-5-of-12 {
      width: calc(5 * ((100% - 8 * 2.5rem) / 12) + (2.5rem) * 2); }
    .gridTest2__row .col-6-of-12 {
      width: calc((100% - 11 * 2.5rem) / 6); }
    .gridTest2__row .col-7-of-12 {
      width: calc((100% - 11 * 2.5rem) / 7); }
    .gridTest2__row .col-11-of-12 {
      width: calc(6 * ((100% - 8 * 2.5rem) / 12) + (2.5rem) * 2); }
    .gridTest2__row__content {
      position: absolute;
      width: 80%;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0); }
      @media only screen and (max-width: 75em) {
        .gridTest2__row__content {
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); } }
      @media only screen and (max-width: 56.25em) {
        .gridTest2__row__content {
          width: 90%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0); } }
      @media only screen and (max-width: 37.5em) {
        .gridTest2__row__content {
          width: calc(100% - 4 * 2.5rem);
          min-width: 320px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0); } }
      @media only screen and (min-width: 112.5em) {
        .gridTest2__row__content {
          width: 80%; } }

.gridSet {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 100; }
  .gridSet__row {
    position: relative;
    display: block;
    background-color: rgba(250, 157, 30, 0.2);
    border-bottom: 1px solid rgba(250, 157, 30, 0.8); }
    .gridSet__row__height1__phone, .gridSet__row__height1__tab-l, .gridSet__row__height1__tab-p {
      min-height: 20px; }
    .gridSet__row__height1__pc-n {
      min-height: 25px; }
    .gridSet__row__height1__pc-l {
      min-height: 30px; }
    .gridSet__row [class^="col-"] {
      float: left;
      background-color: rgba(250, 157, 30, 0.5);
      display: inline-block; }
      .gridSet__row [class^="col-"]:not(:last-child) {
        margin-right: 2.5rem; }
    .gridSet__row .col-1-of-1 {
      width: 100%; }
      .gridSet__row .col-1-of-1__phone {
        width: calc(100% - 30px);
        left: 15px;
        position: relative;
        height: 100%; }
      .gridSet__row .col-1-of-1__tab-p {
        width: 90%;
        height: 100%;
        left: 5%;
        position: relative; }
      .gridSet__row .col-1-of-1__tab-l {
        width: 80%;
        height: 100%;
        left: 10%;
        position: relative; }
      .gridSet__row .col-1-of-1__pc-n {
        width: calc((100% - 25px) / 2);
        height: 100%; }
      .gridSet__row .col-1-of-1__pc-l {
        width: calc((100% - 30px) / 2);
        height: 100%; }
    .gridSet__row .col-1-of-2 {
      width: calc((100% - 2.5rem) / 2); }
      .gridSet__row .col-1-of-2__phone {
        width: calc((100% - 20px) / 2);
        margin-right: 20px !important;
        display: inline-block;
        height: 100%; }
      .gridSet__row .col-1-of-2__pc-n {
        width: calc((100% - 25px) / 2);
        height: 100%; }
      .gridSet__row .col-1-of-2__pc-l {
        width: calc((100% - 30px) / 2);
        height: 100%; }
    .gridSet__row .col-1-of-3 {
      width: calc((100% - 2 * 2.5rem) / 3); }
      .gridSet__row .col-1-of-3__phone, .gridSet__row .col-1-of-3__tab-l, .gridSet__row .col-1-of-3__tab-p {
        width: calc((100% - 2 * 20px) / 3);
        height: 100%; }
      .gridSet__row .col-1-of-3__pc-n {
        width: calc((100% - 2 * 25px) / 3);
        height: 100%; }
      .gridSet__row .col-1-of-3__pc-l {
        width: calc((100% - 2 * 30px) / 3);
        height: 100%; }
    .gridSet__row .col-1-of-4 {
      width: calc((100% - 3 * 2.5rem) / 4); }
      .gridSet__row .col-1-of-4__phone, .gridSet__row .col-1-of-4__tab-l, .gridSet__row .col-1-of-4__tab-p {
        width: calc((100% - 2 * 20px) / 3);
        height: 100%; }
      .gridSet__row .col-1-of-4__pc-n {
        width: calc((100% - 2 * 25px) / 3);
        height: 100%; }
      .gridSet__row .col-1-of-4__pc-l {
        width: calc((100% - 2 * 30px) / 3);
        height: 100%; }
    .gridSet__row__content {
      position: absolute;
      width: 80%;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0); }
    .gridSet__row__innerPhone {
      position: relative;
      display: block;
      width: calc(100% - 3.75rem);
      margin: 0 auto; }
    .gridSet__row__inner80 {
      position: relative;
      display: block;
      width: 80%;
      margin: 0 auto; }
    .gridSet__row__inner80__overlay {
      position: absolute;
      display: block;
      width: 100%; }
      .gridSet__row__inner80__overlay--10 {
        position: absolute;
        width: 10%; }
      .gridSet__row__inner80__overlay--10r {
        position: absolute;
        width: 10%;
        right: 0; }
      .gridSet__row__inner80__overlay--20 {
        position: absolute;
        width: 2.5rem;
        left: calc((99% - 2.5rem) / 2); }
      .gridSet__row__inner80__overlay--30 {
        position: absolute;
        width: 2.5rem;
        left: calc((109% - 2 * 2.5rem) / 3); }
      .gridSet__row__inner80__overlay--30r {
        position: absolute;
        width: 2.5rem;
        right: calc((111% - 2 * 2.5rem) / 3); }

.header {
  position: relative;
  width: 90%;
  left: 5%;
  height: 100vh;
  min-height: 75rem;
  display: block;
  background-color: #fff;
  transition: all .4s;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .header {
      width: 100%;
      left: 0;
      height: auto; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      width: 100%;
      left: 0; } }
  .header__background {
    position: absolute;
    height: 100%;
    min-height: 75rem;
    width: 100%;
    background-image: url(../../img/header_bg.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%); }
  .header__content {
    position: absolute;
    margin-top: 20rem;
    z-index: 2;
    width: 90%;
    top: 50%;
    left: 50%;
    min-height: 75rem;
    transform: translate(-50%, -50%);
    transition: all .4s; }
    .header__content__heading {
      width: calc((100% - 2 * 2.5rem) / 3);
      float: left; }
      .header__content__heading:not(:last-child) {
        margin-right: 2.5rem; }
      @media only screen and (max-width: 75em) {
        .header__content__heading {
          width: calc((100% - 2.5rem) / 2); } }
      @media only screen and (max-width: 56.25em) {
        .header__content__heading {
          width: calc((100% - 2.5rem) / 2); } }
      @media only screen and (max-width: 37.5em) {
        .header__content__heading {
          width: 100%; } }
      .header__content__heading__3 {
        width: calc(2 * (100% - 2 * 2.5rem) / 3); }
    @media only screen and (max-width: 75em) {
      .header__content {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    @media only screen and (max-width: 56.25em) {
      .header__content {
        width: 90%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0); } }
    @media only screen and (min-width: 112.5em) {
      .header__content {
        width: 90%; } }
  .header__scrolly {
    position: absolute;
    width: 2.5rem;
    height: 5rem;
    top: 85%;
    left: 50%;
    cursor: pointer; }
    .header__scrolly__outside {
      position: absolute;
      width: 2.5rem;
      height: 5rem;
      z-index: 2;
      opacity: .3;
      border-radius: 2.5rem;
      border: solid 2px black; }
    .header__scrolly__inside {
      position: relative;
      width: 30%;
      height: 40%;
      top: 10%;
      left: 35%;
      z-index: 3;
      border-radius: 2.5rem;
      opacity: .3;
      background-color: #000;
      animation-name: moveInScrolly;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 4; }

.intro {
  position: relative;
  width: 90%;
  left: 5%;
  min-height: 37.5rem;
  display: block;
  background-color: #fff;
  transition: all .4s; }
  @media only screen and (max-width: 56.25em) {
    .intro {
      width: 100%;
      left: 0;
      min-height: 50rem; } }
  @media only screen and (max-width: 37.5em) {
    .intro {
      width: 100%;
      left: 0;
      min-height: 75rem; } }
  .intro__content {
    width: 90%;
    position: relative;
    left: 5%;
    transition: all .4s; }
  .intro__row {
    display: flex;
    align-items: stretch; }
    @media only screen and (max-width: 37.5em) {
      .intro__row {
        flex-direction: column; } }
  .intro__block {
    float: left;
    width: calc((100% - 2 * 2.5rem) / 3);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    transition: all .2s;
    padding: 2.5rem;
    cursor: pointer; }
    .intro__block:not(:last-child) {
      margin-right: 2.5rem; }
    .intro__block::after {
      content: "";
      display: table;
      clear: both; }
    @media only screen and (max-width: 37.5em) {
      .intro__block {
        width: 100%;
        margin-bottom: 2.5rem; } }
    .intro__block:hover {
      transform: scale(1.1);
      transform: translateY(-3px);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 2;
      border-radius: 5px; }
    .intro__block__header {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      margin-bottom: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .intro__block__header {
          flex-direction: column;
          align-items: center; } }
      @media only screen and (max-width: 37.5em) {
        .intro__block__header {
          flex-direction: row;
          align-items: center; } }
      .intro__block__header__icon {
        width: calc((100% - 1 * 2.5rem) / 4);
        margin-right: 2.5rem;
        margin-bottom: 2.5rem;
        float: left;
        display: block;
        position: relative;
        top: 2.5rem; }
        @media only screen and (max-width: 56.25em) {
          .intro__block__header__icon {
            margin-right: 0;
            width: auto; } }
        @media only screen and (max-width: 37.5em) {
          .intro__block__header__icon {
            margin-right: 2.5rem;
            margin-bottom: 0; } }
      .intro__block__header__icon img {
        width: 8.2rem; }
      .intro__block__header__heading {
        font-family: "FNBSansThin", sans-serif;
        font-size: 3.5rem;
        line-height: 3.8rem;
        top: 2rem;
        width: calc( 3 * (100% - 1 * 2.5rem) / 4);
        float: left;
        display: block;
        position: relative; }
        @media only screen and (max-width: 56.25em) {
          .intro__block__header__heading {
            width: 100%;
            text-align: center; } }
        @media only screen and (max-width: 37.5em) {
          .intro__block__header__heading {
            width: calc( 3 * (100% - 1 * 2.5rem) / 4);
            text-align: left; } }
    .intro__block__paragraph {
      position: relative;
      display: block;
      font-size: 1.6rem;
      line-height: 2.5rem;
      position: relative;
      top: .6rem; }
      .intro__block__paragraph:not(:last-child) {
        margin-bottom: 2.5rem; }
      @media only screen and (max-width: 56.25em) {
        .intro__block__paragraph {
          width: 100%;
          text-align: center !important; } }
      @media only screen and (max-width: 37.5em) {
        .intro__block__paragraph {
          text-align: left !important; } }
    .intro__block__link {
      position: relative;
      display: block; }
      @media only screen and (max-width: 56.25em) {
        .intro__block__link {
          width: 100%;
          text-align: center !important; } }
      @media only screen and (max-width: 37.5em) {
        .intro__block__link {
          text-align: left !important;
          padding-left: 0; } }
  .intro:hover .intro__block:not(:hover) {
    transform: scale(0.95); }

.security {
  position: relative;
  width: 90%;
  left: 5%;
  min-height: 37.5rem;
  display: block;
  background-color: #fff;
  transition: all .4s; }
  @media only screen and (max-width: 56.25em) {
    .security {
      width: 100%;
      left: 0;
      min-height: 50rem; } }
  @media only screen and (max-width: 37.5em) {
    .security {
      width: 100%;
      left: 0;
      min-height: 75rem; } }
  .security__content {
    width: 90%;
    position: relative;
    left: 5%;
    transition: all .4s;
    padding-top: 12.5rem; }
  .security__row {
    display: flex;
    align-items: stretch; }
    @media only screen and (max-width: 37.5em) {
      .security__row {
        flex-direction: column; } }
    .security__row__bottom {
      padding-bottom: 12.5rem;
      display: flex;
      justify-content: stretch;
      align-items: center;
      flex-wrap: wrap; }
      @media only screen and (max-width: 37.5em) {
        .security__row__bottom {
          padding-top: 0; } }
    .security__row__bottom2 {
      padding: 7.5rem 0;
      display: flex;
      justify-content: stretch;
      align-items: end;
      flex-wrap: wrap; }
  .security__block {
    float: left;
    width: calc((100% - 2 * 2.5rem) / 3);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    transition: all .2s;
    padding: 2.5rem;
    cursor: pointer; }
    .security__block:not(:last-child) {
      margin-right: 2.5rem; }
    .security__block::after {
      content: "";
      display: table;
      clear: both; }
    @media only screen and (max-width: 37.5em) {
      .security__block {
        width: 100%;
        margin-bottom: 2.5rem; } }
    .security__block:hover {
      transform: scale(1.1);
      transform: translateY(-3px);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 2;
      border-radius: 5px; }
    .security__block__half {
      width: calc((100% - 2.5rem) / 2); }
      @media only screen and (max-width: 37.5em) {
        .security__block__half {
          width: 100%;
          margin-bottom: 2.5rem; } }
    .security__block__third {
      width: calc((100% - 2 * 2.5rem) / 3); }
      @media only screen and (max-width: 37.5em) {
        .security__block__third {
          width: 100%;
          margin-bottom: 2.5rem; } }
    .security__block__two-third {
      width: calc( 2 * ((100% - 2 * 2.5rem) / 3) + 2.5rem); }
      @media only screen and (max-width: 37.5em) {
        .security__block__two-third {
          width: 100%;
          margin-bottom: 2.5rem;
          text-align: center; } }
    .security__block__header {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      margin-bottom: 5rem;
      justify-content: space-between; }
      @media only screen and (max-width: 56.25em) {
        .security__block__header {
          flex-direction: column;
          align-items: center; } }
      @media only screen and (max-width: 37.5em) {
        .security__block__header {
          flex-direction: row;
          align-items: center; } }
      .security__block__header__icon {
        width: calc((100% - 1 * 2.5rem) / 4);
        margin-right: 2.5rem;
        margin-bottom: 2.5rem;
        float: left;
        display: block;
        position: relative;
        top: 2.5rem; }
        @media only screen and (max-width: 56.25em) {
          .security__block__header__icon {
            margin-right: 0;
            width: auto; } }
        @media only screen and (max-width: 37.5em) {
          .security__block__header__icon {
            margin-right: 2.5rem;
            margin-bottom: 0; } }
      .security__block__header__icon img {
        width: 8.2rem; }
      .security__block__header__number {
        font-family: "FNBSansBold", sans-serif;
        font-size: 10rem;
        line-height: 10rem;
        padding-right: 2.5rem;
        color: #008997; }
      .security__block__header__heading {
        font-family: "FNBSansThin", sans-serif;
        font-size: 3.5rem;
        line-height: 3.8rem;
        top: 2rem;
        width: calc( 3 * (100% - 1 * 2.5rem) / 4);
        float: left;
        display: block;
        position: relative; }
        @media only screen and (max-width: 56.25em) {
          .security__block__header__heading {
            width: 100%;
            text-align: center; } }
        @media only screen and (max-width: 37.5em) {
          .security__block__header__heading {
            width: calc( 3 * (100% - 1 * 2.5rem) / 4);
            text-align: left; } }
    .security__block__paragraph {
      position: relative;
      display: block;
      font-size: 1.6rem;
      line-height: 2.5rem;
      position: relative;
      top: .6rem; }
      .security__block__paragraph:not(:last-child) {
        margin-bottom: 2.5rem; }
      @media only screen and (max-width: 56.25em) {
        .security__block__paragraph {
          width: 100%;
          text-align: center !important; } }
      @media only screen and (max-width: 37.5em) {
        .security__block__paragraph {
          text-align: left !important; } }
    .security__block__link {
      position: relative;
      display: block; }
      @media only screen and (max-width: 56.25em) {
        .security__block__link {
          width: 100%;
          text-align: center !important; } }
      @media only screen and (max-width: 37.5em) {
        .security__block__link {
          text-align: left !important;
          padding-left: 0; } }
    .security__block__image {
      overflow: hidden; }
      .security__block__image--center {
        display: flex;
        justify-content: center; }
    .security__block__image img {
      height: 100%; }
    .security__block__image--center img {
      width: 100%;
      max-width: 30rem; }
    .security__block__image--left img {
      width: 75vw;
      max-width: 99rem; }
      @media only screen and (max-width: 37.5em) {
        .security__block__image--left img {
          margin-top: 2.5rem; } }
    .security__block__image:hover {
      overflow: revert; }
  .security:hover .security__block:not(:hover) {
    transform: scale(0.95); }

.menu__main__nav {
  z-index: 110;
  width: 90%;
  left: 5%;
  position: fixed;
  height: 12.5rem;
  background: #008997;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  display: block;
  transition: all .4s; }
  @media only screen and (max-width: 56.25em) {
    .menu__main__nav {
      width: 100%;
      left: 0; } }
  @media only screen and (max-width: 37.5em) {
    .menu__main__nav {
      width: 100%;
      left: 0; } }
  .menu__main__nav--active {
    left: 25%; }
    @media only screen and (max-width: 56.25em) {
      .menu__main__nav--active {
        left: 30%; } }
    @media only screen and (max-width: 37.5em) {
      .menu__main__nav--active {
        left: 70%; } }
  .menu__main__nav__menu {
    width: 90%;
    margin: 0 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .menu__main__nav__menu__button {
      padding: 2rem 2rem 2rem 0;
      width: 7rem;
      height: 5.5rem;
      position: relative;
      z-index: 100;
      cursor: pointer; }
    .menu__main__nav__menu__button:hover .menu__main__nav__menu__icon::before {
      top: -1rem; }
    .menu__main__nav__menu__button:hover .menu__main__nav__menu__icon::after {
      top: 1rem; }
    .menu__main__nav__menu__button:hover .menu__main__nav__menu__icon--active::before {
      top: 0; }
    .menu__main__nav__menu__button:hover .menu__main__nav__menu__icon--active::after {
      top: 0; }
    .menu__main__nav__menu__icon {
      position: relative;
      left: 0; }
      .menu__main__nav__menu__icon, .menu__main__nav__menu__icon::before, .menu__main__nav__menu__icon::after {
        width: 3rem;
        height: 4px;
        background-color: #fff;
        display: inline-block;
        border-radius: 10px; }
      .menu__main__nav__menu__icon::before, .menu__main__nav__menu__icon::after {
        content: "";
        position: absolute;
        left: 0px;
        transition: all .2s; }
      .menu__main__nav__menu__icon::before {
        top: -.8rem; }
      .menu__main__nav__menu__icon::after {
        top: .8rem; }
      .menu__main__nav__menu__icon--black, .menu__main__nav__menu__icon--black::before, .menu__main__nav__menu__icon--black::after {
        background-color: #000; }
      .menu__main__nav__menu__icon--active {
        background-color: transparent; }
        .menu__main__nav__menu__icon--active::before {
          top: 0;
          background-color: #fff;
          transform: rotate(45deg); }
        .menu__main__nav__menu__icon--active::after {
          top: 0;
          background-color: #fff;
          transform: rotate(-45deg); }
    .menu__main__nav__menu__logo {
      position: relative;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer; }
      .menu__main__nav__menu__logo__left {
        position: relative;
        margin-right: 2.5rem; }
        @media only screen and (max-width: 37.5em) {
          .menu__main__nav__menu__logo__left {
            width: 15%;
            margin-right: 0; } }
      .menu__main__nav__menu__logo__heading {
        position: relative; }
        .menu__main__nav__menu__logo__heading__sub {
          position: relative;
          text-align: center;
          font-family: "FNBSansRegular", sans-serif;
          font-size: 2rem;
          line-height: 2.5rem;
          color: #fff;
          top: 1.8rem; }
        .menu__main__nav__menu__logo__heading__main {
          position: relative;
          text-align: center;
          text-align: center;
          font-family: "FNBSansRegular", sans-serif;
          font-size: 5rem;
          line-height: 5rem;
          color: #fff;
          margin-bottom: 2.5rem;
          letter-spacing: 5px;
          top: 2rem; }
      .menu__main__nav__menu__logo__right {
        position: relative;
        margin-left: 2.5rem; }
        @media only screen and (max-width: 37.5em) {
          .menu__main__nav__menu__logo__right {
            width: 15%;
            margin-left: 0; } }
    .menu__main__nav__menu__search {
      position: relative;
      height: 3.2rem;
      margin-left: 2.5rem; }
  .menu__main__nav__links {
    height: 100%;
    width: 0;
    position: fixed;
    overflow: hidden;
    transition: all .4s;
    background-color: #fff;
    box-shadow: inset -4px 0px 10px rgba(0, 0, 0, 0.3); }
    .menu__main__nav__links--active {
      width: 25%;
      overflow: auto; }
      @media only screen and (max-width: 56.25em) {
        .menu__main__nav__links--active {
          width: 30%; } }
      @media only screen and (max-width: 37.5em) {
        .menu__main__nav__links--active {
          width: 70%; } }
    .menu__main__nav__links__section {
      padding: 2.5rem;
      position: absolute;
      width: 25vw; }
      @media only screen and (max-width: 56.25em) {
        .menu__main__nav__links__section {
          width: 30vw; } }
      @media only screen and (max-width: 37.5em) {
        .menu__main__nav__links__section {
          width: 70vw; } }
    .menu__main__nav__links__section ul {
      text-decoration: none;
      list-style: none; }
    .menu__main__nav__links__section ul li {
      padding: 1.25rem 0;
      display: flex;
      justify-content: space-between; }
    .menu__main__nav__links__section ul li:hover {
      background-color: #efefef; }

.main {
  transition: all .4s; }
  .main__menuOpen {
    margin-left: 20%;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .main__menuOpen {
        margin-left: 30%;
        left: 0; } }
    @media only screen and (max-width: 37.5em) {
      .main__menuOpen {
        left: 0;
        margin-left: 70%; } }

.footer {
  position: relative;
  width: 90%;
  left: 5%;
  min-height: 12.5rem;
  display: block;
  background-color: #008997; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      width: 100%;
      left: 0; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      width: 100%;
      left: 0; } }
  .footer__content {
    width: 90%;
    height: 12.5rem;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .footer__content__icon {
      margin-right: 2.5rem; }
      @media only screen and (max-width: 37.5em) {
        .footer__content__icon {
          display: none; } }
    .footer__content__numbers {
      margin-right: 2.5rem; }
