.gridTest {
    
    width: 100%;
    min-height: 75rem;
    position: fixed;
    top: 0;
    z-index: 100;

    &__row {
        
        position: relative;
        display: block;
        background-color:$color-amber-20;
        border-bottom:1px solid $color-amber-80;
        
    
        &__height1 {
            min-height: $grid-row-height-01;
        }
        &__height2 {
            min-height: $grid-row-height-02;
        }
        &__height3 {
            min-height: $grid-row-height-03;
        }
        &__height4 {
            min-height: $grid-row-height-04;
        }
        &__height5 {
            min-height: $grid-row-height-05;
        }
        &__height6 {
            min-height: $grid-row-height-06;
        }
        &__height7 {
            min-height: $grid-row-height-07;
        }
        &__height8 {
            min-height: $grid-row-height-08;
        }
        &__height9 {
            min-height: $grid-row-height-09;
        }
        &__height10 {
            min-height: $grid-row-height-10;
        }
        &__height11 {
            min-height: $grid-row-height-11;
        }
        &__height12 {
            min-height: $grid-row-height-12;
        }
        &__height13 {
            min-height: $grid-row-height-13;
        }
        &__height14 {
            min-height: $grid-row-height-14;
        }
        &__height15 {
            min-height: $grid-row-height-15;
        }
        &__height16 {
            min-height: $grid-row-height-16;
        }
        &__height17 {
            min-height: $grid-row-height-17;
        }
        &__height18 {
            min-height: $grid-row-height-18;
        }
        &__height19 {
            min-height: $grid-row-height-19;
        }
        &__height20 {
            min-height: $grid-row-height-20;
        }
        &__height21 {
            min-height: $grid-row-height-21;
        }
        &__height22 {
            min-height: $grid-row-height-22;
        }
        &__height23 {
            min-height: $grid-row-height-23;
        }
        &__height24 {
            min-height: $grid-row-height-24;
        }
        &__height25 {
            min-height: $grid-row-height-25;
        }
        &__height26 {
            min-height: $grid-row-height-26;
        }
        &__height27 {
            min-height: $grid-row-height-27;
        }
        &__height28 {
            min-height: $grid-row-height-28;
        }
        &__height29 {
            min-height: $grid-row-height-29;
        }
        &__height30 {
            min-height: $grid-row-height-30;
        }
        
        [class^="col-"] {
            float: left;

            background-color:$color-amber-50;
            display: inline-block;
    
            &:not(:last-child) {
                margin-right: $gutter-horizontal;
            }
           
         } 
    
         // 1
        .col-1-of-1 {
            width: 100%;
        }
    
        .col-1-of-2 {
            width: calc((100% - #{$gutter-horizontal}) / 2);
            height: 100%;
        }
        
        .col-1-of-3 {
            width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
        }
    
        .col-1-of-4 {
            width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
        }
        
        .col-1-of-5 {
            width: calc((100% - 4 * #{$gutter-horizontal}) / 5);
        }
        
        .col-1-of-6 {
            width: calc((100% - 5 * #{$gutter-horizontal}) / 6);
        }
        
        .col-1-of-12 {
            width: calc((100% - 11 * #{$gutter-horizontal}) / 12);
        }
        
        // 2
        .col-2-of-3 {
            width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
        }
        
        .col-2-of-4 {
            width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
        }
    
        .col-2-of-12 {
            width: calc(2 * ((100% - 11 * #{$gutter-horizontal}) / 12) + #{$gutter-horizontal});
        }
        
        // 3
        .col-3-of-4 {
            width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + (#{$gutter-horizontal}) * 2);
        }
        
        .col-3-of-12 {
            width: calc(3 * ((100% - 10 * #{$gutter-horizontal}) / 12) + (#{$gutter-horizontal}) * 2);
        }
    
        // 4
        .col-4-of-12 {
            width: calc(4 * ((100% - 9 * #{$gutter-horizontal}) / 12) + (#{$gutter-horizontal}) * 2);
        }
    
        // 5
        .col-5-of-12 {
            width: calc(5 * ((100% - 8 * #{$gutter-horizontal}) / 12) + (#{$gutter-horizontal}) * 2);
        }
        
        // 6
        .col-6-of-12 {
            width: calc((100% - 11 * #{$gutter-horizontal}) / 6);
        }
         
        // 7
        .col-7-of-12 {
            width: calc((100% - 11 * #{$gutter-horizontal}) / 7);

        }

        // 11
        .col-11-of-12 {
            width: calc(6 * ((100% - 8 * #{$gutter-horizontal}) / 12) + (#{$gutter-horizontal}) * 2);
        }

        &__content {
            
            position: absolute;
            width: 80%;
            top:0;
            left:50%;
            transform: translate(-50%,0);
            
            @include respond(tab-land) {        
                width: 80%;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);                                 
            }
            @include respond(tab-port) {        
                width: 90%;
                position: absolute;
                top:0;
                left:50%;
                transform: translate(-50%, 0)                             
            }
            @include respond(phone) {           
                width: calc(100% - 4 * #{$gutter-horizontal}); 
                min-width: $content-width-phone;   
                position: absolute;
                top:0;
                left:50%;
                transform: translate(-50%, 0)                    
            }
            @include respond(big-desktop) {     
                width: 80%;                        
            }   
        }
        
    }

    
    
    
}
.gridTest2 {
    
    width: 100%;
    position: relative;
    top: 0;
    z-index: 100;

    &__row {
        
        position: relative;
        display: block;
        background-color:$color-amber-20;
        border-bottom:1px solid $color-amber-80;
        
    
        &__height1 {
            min-height: $grid-row-height-01;
        }
        &__height2 {
            min-height: $grid-row-height-02;
        }
        &__height3 {
            min-height: $grid-row-height-03;
        }
        &__height4 {
            min-height: $grid-row-height-04;
        }
        &__height5 {
            min-height: $grid-row-height-05;
        }
        &__height6 {
            min-height: $grid-row-height-06;
        }
        &__height7 {
            min-height: $grid-row-height-07;
        }
        &__height8 {
            min-height: $grid-row-height-08;
        }
        &__height9 {
            min-height: $grid-row-height-09;
        }
        &__height10 {
            min-height: $grid-row-height-10;
        }
        &__height11 {
            min-height: $grid-row-height-11;
        }
        &__height12 {
            min-height: $grid-row-height-12;
        }
        &__height13 {
            min-height: $grid-row-height-13;
        }
        &__height14 {
            min-height: $grid-row-height-14;
        }
        &__height15 {
            min-height: $grid-row-height-15;
        }
        &__height16 {
            min-height: $grid-row-height-16;
        }
        &__height17 {
            min-height: $grid-row-height-17;
        }
        &__height18 {
            min-height: $grid-row-height-18;
        }
        &__height19 {
            min-height: $grid-row-height-19;
        }
        &__height20 {
            min-height: $grid-row-height-20;
        }
        &__height21 {
            min-height: $grid-row-height-21;
        }
        &__height22 {
            min-height: $grid-row-height-22;
        }
        &__height23 {
            min-height: $grid-row-height-23;
        }
        &__height24 {
            min-height: $grid-row-height-24;
        }
        &__height25 {
            min-height: $grid-row-height-25;
        }
        &__height26 {
            min-height: $grid-row-height-26;
        }
        &__height27 {
            min-height: $grid-row-height-27;
        }
        &__height28 {
            min-height: $grid-row-height-28;
        }
        &__height29 {
            min-height: $grid-row-height-29;
        }
        &__height30 {
            min-height: $grid-row-height-30;
        }

        &__inner80 {
            position: relative;
            display: block;
            width: 80%;
            margin: 0 auto;
        }
        &__inner80__overlay {
            position: absolute;
            display: block;
            width: 100%;
            margin: 0 auto;
            top: 0;

            &--10 {
            position: absolute;
            width: 10%;     
            }
            &--10r {
            position: absolute;
            width: 10%;  
            right: 0;   
            }
            &--20 {
            position: absolute;
            width: $gutter-horizontal;  
            left:  calc((99% - #{$gutter-horizontal}) / 2);  
            }
            &--30 {
            position: absolute;
            width: $gutter-horizontal;  
            left: calc((109% - 2 * #{$gutter-horizontal}) / 3); 
            }
            &--30r {
            position: absolute;
            width: $gutter-horizontal;  
            right: calc((111% - 2 * #{$gutter-horizontal}) / 3); 
            }
        }
    
        [class^="col-"] {
            
            float: left;

            background-color:$color-amber-50;
            display: block;
            min-height: inherit;

            &:not(:last-child) {
                margin-right: $gutter-horizontal;
            }
           
         } 
    
         // 1
        .col-1-of-1 {
            width: 100%;
        }
    
        .col-1-of-2 {
            width: calc((100% - #{$gutter-horizontal}) / 2);
        }
        
        .col-1-of-3 {
            width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
        }
    
        .col-1-of-4 {
            width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
        }
        
        .col-1-of-5 {
            width: calc((99% - 4 * #{$gutter-horizontal}) / 5);
        }
        
        .col-1-of-6 {
            width: calc((100% - 5 * #{$gutter-horizontal}) / 6);
        }
        
        .col-1-of-12 {
            width: calc((100% - 11 * #{$gutter-horizontal}) / 12);
        }
        
        // 2
        .col-2-of-3 {
            width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
        }
        
        .col-2-of-4 {
            width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
        }
    
        .col-2-of-12 {
            width: calc(2 * ((100% - 11 * #{$gutter-horizontal}) / 12) + #{$gutter-horizontal});
        }
        
        // 3
        .col-3-of-4 {
            width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + (#{$gutter-horizontal}) * 2);
        }
        
        .col-3-of-12 {
            width: calc(3 * ((100% - 10 * #{$gutter-horizontal}) / 12) + (#{$gutter-horizontal}) * 2);
        }
    
        // 4
        .col-4-of-12 {
            width: calc(4 * ((100% - 9 * #{$gutter-horizontal}) / 12) + (#{$gutter-horizontal}) * 2);
        }
    
        // 5
        .col-5-of-12 {
            width: calc(5 * ((100% - 8 * #{$gutter-horizontal}) / 12) + (#{$gutter-horizontal}) * 2);
        }
        
        // 6
        .col-6-of-12 {
            width: calc((100% - 11 * #{$gutter-horizontal}) / 6);
        }
         
        // 7
        .col-7-of-12 {
            width: calc((100% - 11 * #{$gutter-horizontal}) / 7);

        }

        // 11
        .col-11-of-12 {
            width: calc(6 * ((100% - 8 * #{$gutter-horizontal}) / 12) + (#{$gutter-horizontal}) * 2);
        }

        &__content {
            
            position: absolute;
            width: 80%;
            top:0;
            left:50%;
            transform: translate(-50%,0);
            
            @include respond(tab-land) {        
                width: 80%;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);                                 
            }
            @include respond(tab-port) {        
                width: 90%;
                position: absolute;
                top:0;
                left:50%;
                transform: translate(-50%, 0)                             
            }
            @include respond(phone) {           
                width: calc(100% - 4 * #{$gutter-horizontal}); 
                min-width: $content-width-phone;   
                position: absolute;
                top:0;
                left:50%;
                transform: translate(-50%, 0)                    
            }
            @include respond(big-desktop) {     
                width: 80%;                        
            }   
        }
        
    }

    
    
    
}
.gridSet {
    
    width: 100%;
    position: relative;
    top: 0;
    z-index: 100;

    &__row {
        
        position: relative;
        display: block;
        background-color:$color-amber-20;
        border-bottom:1px solid $color-amber-80;
        
    
        &__height1 {
            
            &__phone,
            &__tab-l,
            &__tab-p {
                min-height: 20px;
            }
            
            &__pc-n {
                min-height: 25px;
            } 

            &__pc-l {
                min-height: 30px;
            } 
        }

        [class^="col-"] {
            
            float: left;

            background-color:$color-amber-50;
            display: inline-block;
    
            &:not(:last-child) {
                margin-right: $gutter-horizontal;
            }
           
         } 
    
         // 1
        .col-1-of-1 {
            width: 100%;

            &__phone {
               width: calc(100% - 30px);
               left: 15px;
               position: relative;
               height: 100%;
            }
            
            &__tab-p {
                width: 90%;
                height: 100%;
                left: 5%;
                position: relative;
            } 
            
            &__tab-l {
                width: 80%;
                height: 100%;
                left: 10%;
                position: relative;
            } 
            
            &__pc-n {
                width: calc((100% - 25px) / 2);
                height: 100%;
            } 

            &__pc-l {
                width: calc((100% - 30px) / 2);
                height: 100%;
            }
        }
    
        .col-1-of-2 {

            width: calc((100% - #{$gutter-horizontal}) / 2);
            
            &__phone {
                width: calc((100% - 20px) / 2);
                margin-right: 20px!important;
                display: inline-block;
                height: 100%;
            }
            
            &__pc-n {
                width: calc((100% - 25px) / 2);
                height: 100%;
            } 

            &__pc-l {
                width: calc((100% - 30px) / 2);
                height: 100%;
            }

            
        }
        
        .col-1-of-3 {
            
            width: calc((100% - 2 * #{$gutter-horizontal}) / 3);

            &__phone,
            &__tab-l,
            &__tab-p {
                width: calc((100% - 2 * 20px) / 3);
                height: 100%;
            }
            
            &__pc-n {
                width: calc((100% - 2 * 25px) / 3);
                height: 100%;
            } 

            &__pc-l {
                width: calc((100% - 2 * 30px) / 3);
                height: 100%;
            }

        }
    
        .col-1-of-4 {
            
            width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
            
            &__phone,
            &__tab-l,
            &__tab-p {
                width: calc((100% - 2 * 20px) / 3);
                height: 100%;
            }
            
            &__pc-n {
                width: calc((100% - 2 * 25px) / 3);
                height: 100%;
            } 

            &__pc-l {
                width: calc((100% - 2 * 30px) / 3);
                height: 100%;
            }
        }
        
        &__content {
            
            position: absolute;
            width: 80%;
            top:0;
            left:50%;
            transform: translate(-50%,0);

        }

        &__innerPhone {
            position: relative;
            display: block; 
            width: calc(100% - 3.75rem); 
            margin: 0 auto;   
        }

        &__inner80 {
            position: relative;
            display: block;
            width: 80%;
            margin: 0 auto;
        }

        &__inner80__overlay {
            position: absolute;
            display: block;
            width: 100%;

            &--10 {
            position: absolute;
            width: 10%;     
            }
            &--10r {
            position: absolute;
            width: 10%;  
            right: 0;   
            }
            &--20 {
            position: absolute;
            width: $gutter-horizontal;  
            left:  calc((99% - #{$gutter-horizontal}) / 2);  
            }
            &--30 {
            position: absolute;
            width: $gutter-horizontal;  
            left: calc((109% - 2 * #{$gutter-horizontal}) / 3); 
            }
            &--30r {
            position: absolute;
            width: $gutter-horizontal;  
            right: calc((111% - 2 * #{$gutter-horizontal}) / 3); 
            }
        }
        
    }


    
    
    
}
