.slide {
     
    &--full {
        position: relative;
        width: 100%;
        height: 100vh;
        min-height: 75rem;

        @include respond(tab-port) {
            height: 100%;     
        } 
        
        @include respond(phone) {
            min-height: 83.375rem; // min height 667px
            min-width: $content-width-phone;   
        } 
        
        @include respond(big-desktop) {
            min-height: 80rem; 
            height: 80rem; 
        }

        &__content {
            width: 80%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            transition: all .4s;
    
            @include respond(tab-land) {        
                width: 80%;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);                                 
            }
            @include respond(tab-port) {        
                width: 90%;
                position: absolute;
                top:0;
                left:50%;
                transform: translate(-50%, 0)                             
            }
            @include respond(phone) {           
                width: calc(100% - 3.75rem); // Margin of 15(1,875rem) left and 15(1,875rem) rignt = 3.75rem  
                min-width: $content-width-phone;  
                position: absolute;
                top:0;
                left:50%;
                transform: translate(-50%, 0);                   
            }
            @include respond(big-desktop) {     
                width: 80%;                        
            }  
            
        }

        &--overlaid {
            position: absolute;
            top: 0;    
        }
    
    }

    &--half {
        height: 50%;
        min-height: 37.5rem;

        &__content {
            width: 80%;
            margin: 0 auto;
            transition: all .4s;
            
            @include respond(tab-land) {        
                width: 80%;                                
            }
            @include respond(tab-port) {        
                width: 90%;                             
            }
            @include respond(phone) {           
                width: calc(100% - 3.75rem);                
            }
            @include respond(big-desktop) {     
                width: 80%;                        
            }
            
        }  
         
        &--overlaid {
            position: absolute;
            top: 0;    
        }

        &--to-full {

            height: 50%;
            min-height: 37.5rem;
    
            @include respond(tab-port) {
                height: 100%;     
            } 
            
            @include respond(phone) {
                min-height: 83.375rem; // min height 667px
                min-width: $content-width-phone;   
            } 
    
            &__content {
    
                width: 80%;
                margin: 0 auto;
                
                @include respond(tab-land) {        
                    width: 80%;                                
                }
                @include respond(tab-port) {        
                    width: 90%;                             
                }
                @include respond(phone) {           
                    width: calc(100% - 3.75rem); 
                    min-height: 83.37rem;            
                }
                @include respond(big-desktop) {     
                    width: 80%;                        
                }
                
            }  
             
        }
    }

    &--scroll {
        height: 100%;

        &--overlaid {
            position: absolute;
            top: 0;    
        }

        &__content {
            width: 80%;
            margin: 0 auto;
            transition: all .4s;
            
            @include respond(tab-land) {        
                width: 80%;                                
            }
            @include respond(tab-port) {        
                width: 90%;                             
            }
            @include respond(phone) {           
                width: calc(100% - 3.75rem);                
            }
            @include respond(big-desktop) {     
                width: 80%;                        
            }
            
        }
    }

    &__bg {
        &--turq-primary {
            background-color: $color-turq-primary;
        }
        &--turq-70{
            background-color: $color-turq-primary-70;
        }
        &--turq-50{
            background-color: $color-turq-primary-50;
        }
        &--turq-30{
            background-color: $color-turq-primary-30;
        }
        &--turq-secondary{
            background-color: $color-turq-secondary;
        }
        &--turq-tertiary{
            background-color: $color-turq-tertiary;
        }
        
        &--amber-primary{
            background-color:  $color-amber-primary;
        }
        &--amber-secondary{
            background-color: $color-amber-secondary;
        }
        &--amber-tertiary{
            background-color: $color-amber-tertiary;
        }

        &--black{
            background-color: $color-black;
        }
        &--black-80{
            background-color: $color-black-80;
        }
        &--black-60{
            background-color: $color-black-60;
        }
        &--black-40{
            background-color: $color-black-40;
        }
        &--black-20{
            background-color: $color-black-20;
        }
        &--black-10{
            background-color: $color-black-10;
        }

        &--white{
            background-color: $color-white;
        }
        &--white-80{
            background-color: $color-white-80;
        }
        &--white-60{
            background-color: $color-white-60;
        }
        &--white-40{
            background-color: $color-white-40;
        }
        &--white-20{
            background-color: $color-white-20; 
        }
        &--white-10{
            background-color: $color-white-10;
        }
        
        &--other-red{
            background-color: $color-other-red;
        }
        &--other-green{
            background-color: $color-other-green;
        }
        &--other-purple{
            background-color: $color-other-purple;
        }
        &--other-pink{
            background-color: $color-other-pink;
        }
        &--other-blue{
            background-color: $color-other-blue; 
        }

        &--gradient-amber{
             background-image:$color-amber-gradient;
        }
        &--gradient-turq{
             background-image:$color-turq-gradient;
        }
        &--gradient-white{
             background-image:$color-white-gradient;
        }

        &--grey-primary{
             background-color:$color-grey-primary;
        }
        &--grey-secondary{
             background-color:$color-grey-secondary;
        }
        &--grey-tertiary{
             background-color:$color-grey-tertiary;
        }
        &--grey-dark{
             background-color:$color-grey-dark;
        }
        &--grey-medium{
             background-color:$color-grey-medium;
        }
        &--grey-light{
             background-color:$color-grey-light;
        }
        
        &--graph-red-1{
             background-color:$color-graph-red-1;
        }
        &--graph-red-7{
             background-color:$color-graph-red-7;
        }
        &--graph-red-13{
             background-color:$color-graph-red-13;
        }
        &--graph-red-19{
             background-color:$color-graph-red-19;
        }

        &--graph-yellow-2{
             background-color:$color-graph-yellow-2;
        }
        &--graph-yellow-8{
             background-color:$color-graph-yellow-8;
        }
        &--graph-yellow-14{
             background-color:$color-graph-yellow-14;
        }
        &--graph-yellow-20{
             background-color:$color-graph-yellow-20;
        }

        &--graph-pink-3{
             background-color:$color-graph-pink-3;
        }
        &--graph-pink-9{
             background-color:$color-graph-pink-9;
        }
        &--graph-pink-15{
             background-color:$color-graph-pink-15;
        }
        &--graph-pink-21{
             background-color:$color-graph-pink-21;
        }

        &--graph-green-4{
             background-color:$color-graph-green-4;
        }
        &--graph-green-10{
             background-color:$color-graph-green-10;
        }
        &--graph-green-16{
             background-color:$color-graph-green-16;
        }
        &--graph-green-22{
             background-color:$color-graph-green-22;
        }

        &--graph-purple-5{
             background-color:$color-graph-purple-5;
        }
        &--graph-purple-11{
             background-color:$color-graph-purple-11;
        }
        &--graph-purple-17{
             background-color:$color-graph-purple-17;
        }
        &--graph-purple-23{
             background-color:$color-graph-purple-23;
        }

        &--graph-blue-6{
             background-color:$color-graph-blue-6;
        }
        &--graph-blue-12{
             background-color:$color-graph-blue-12;
        }
        &--graph-blue-18{
             background-color:$color-graph-blue-18;
        }
        &--graph-blue-24{
             background-color:$color-graph-blue-24;
        }        
    }

}


 


