<!-- FOOTER -->  
<div class="footer">    
                
    <div class="footer__content"> 
        <div class="footer__content__icon"><img src="../img/footer_icon.svg" alt=""></div> 
        <div class="footer__content__numbers"><p class="paragraph--white">Call Digital Banking Support on <strong> 575 0000 </strong> for navigational assistance.If you suspect fraud, please call us on <strong>087 575 9444.</strong></p></div> 
        <div class="footer__content__copyright"><p class="paragraph--white">©2020 - FIRST NATIONAL BANK</p></div> 
    </div>
        
</div> 
        
        
    