<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../css/fonts/font.css">
        <link rel="stylesheet" href="../../../css/style.css"> 
     
        <title>Slides</title>
   </head> 
    
<body>

    <main>

        <!------------------------>
        <!-- SECTION FULL SLIDE -->
        <!------------------------>
        <section class="slide--full slide__bg--gradient-turq" >
            <!-- CONTENT -->
            <div class="slide__content slide__bg--white-20">
                
                <!-- ROW -->
                <div class="row row__height15 slide__bg--white-20">
                    <!-- COLUMN -->
                    <div class="col-1-of-1 ">
                        <h1>
                            <span class="heading heading--white heading--3 heading--center">Section Full Slide</span>
                            <span class="heading heading--white heading--1 heading--center">col-1-of-1</span>
                            <span class="heading heading--white heading--4 heading--center">Top Row (Row Height 15)</span>
                        </h1>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>
                    </div>
                    <!-- / COLUMN -->
                </div> 
                <!-- / ROW -->   
                
                <!-- ROW -->
                <div class="row row__height15">
                    <!-- COLUMN -->
                    <div class="col-1-of-2 slide__bg--white-40">
                        <h2>
                            <span class="heading heading--white heading--2">col-1-of-2</span>
                            <span class="heading heading--white heading--4">Bottom Row (Row Height 15)</span>
                        </h2>
                        <p class="paragraph--white ">Paragraph and Heading properties set to white and default(left) align</p>
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-2 slide__bg--white-60">
                        <h2>
                            <span class="heading heading--white heading--2 heading--right">col-1-of-2</span>
                            <span class="heading heading--white heading--4 heading--right">Bottom Row (Row Height 15)</span>
                        </h2>
                        <p class="paragraph--white paragraph--right">Paragraph and Heading properties set to white and right align</p>
                    </div>
                    <!-- / COLUMN -->
                </div> 
                <!-- / ROW -->   
            </div>
            <!-- / CONTENT -->
        </section>
        
        <!------------------------>
        <!-- SECTION FULL SLIDE -->
        <!------------------------>
        <section class="slide--full slide__bg--gradient-turq" >
            <!-- CONTENT -->
            <div class="slide__content slide__bg--white-20">
                <!-- ROW -->
                <div class="row row__height15 slide__bg--white-20">
                    <!-- COLUMN -->
                    <div class="col-1-of-1 ">
                        <h1>
                            <span class="heading heading--white heading--3 heading--center">Section Full Slide</span>
                            <span class="heading heading--white heading--1 heading--center">col-1-of-1</span>
                            <span class="heading heading--white heading--4 heading--center">Middle Row (Row Height 15)</span>
                        </h1>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>
                    </div>
                    <!-- / COLUMN -->
                </div> 
                <!-- / ROW -->      
            </div>
            <!-- / CONTENT -->
        </section>

        <!------------------------>
        <!-- SECTION FULL SLIDE -->
        <!------------------------>
        <section class="slide--full slide__bg--gradient-turq" >
            <!-- CONTENT -->
            <div class="slide__content slide__bg--white-20">
                
                <!-- ROW -->
                <div class="row row__height15 slide__bg--white-20">
                    <!-- COLUMN -->
                    <div class="col-1-of-1 ">
                        <h1>
                            <span class="heading heading--white heading--3 heading--center">Section Full Slide</span>
                            <span class="heading heading--white heading--1 heading--center">col-1-of-1</span>
                            <span class="heading heading--white heading--4 heading--center">Top Row (Row Height 15)</span>
                        </h1>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>
                    </div>
                    <!-- / COLUMN -->
                </div> 
                <!-- / ROW -->   
                
                <!-- ROW -->
                <div class="row row__height15">
                    <!-- COLUMN -->
                    <div class="col-1-of-2 slide__bg--white-40">
                        <h2>
                            <span class="heading heading--white heading--2">col-1-of-2</span>
                            <span class="heading heading--white heading--4">Bottom Row (Row Height 15)</span>
                        </h2>
                        <p class="paragraph--white ">Paragraph and Heading properties set to white and default(left) align</p>
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-2 slide__bg--white-60">
                        <h2>
                            <span class="heading heading--white heading--2 heading--right">col-1-of-2</span>
                            <span class="heading heading--white heading--4 heading--right">Bottom Row (Row Height 15)</span>
                        </h2>
                        <p class="paragraph--white paragraph--right">Paragraph and Heading properties set to white and right align</p>
                    </div>
                    <!-- / COLUMN -->
                </div> 
                <!-- / ROW -->
                   
            </div>
            <!-- / CONTENT -->
        </section>
        
        <!------------------------>
        <!-- SECTION HALF SLIDE -->
        <!------------------------>
        <section class="slide--half slide__bg--gradient-white" >
            <!-- CONTENT -->
            <div class="slide--half__content ">
                <!-- ROW -->
                <div class="row row__height15">
                    <!-- COLUMN -->
                    <div class="col-1-of-3 slide__bg--black-10"> 
                        <h2>
                            <span class="heading heading--3">&nbsp;</span>
                            <span class="heading heading--2">col-1-of-3</span>
                            <span class="heading heading--4">1 Row (Row Height 15)</span>
                        </h2>     
                        <p class="">Paragraph and Heading properties set to default(Black) and default(Left) align</p>    
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-3 slide__bg--black-10">
                        <h2>
                            <span class="heading heading--3 heading--center">Section Half Slide</span>
                            <span class="heading heading--2 heading--center">col-1-of-3</span>
                            <span class="heading heading--4 heading--center">1 Row (Row Height 15)</span>
                        </h2>
                        <p class="paragraph--center">Paragraph and Heading properties set to default(Black) and center align</p>
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-3 slide__bg--black-10">
                        <h2>
                            <span class="heading heading--3 heading--right">&nbsp;</span>
                            <span class="heading heading--2 heading--right">col-1-of-3</span>
                            <span class="heading heading--4 heading--right">1 Row (Row Height 15)</span>
                        </h2>
                        <p class="paragraph--right">Paragraph and Heading properties set to default(Black) and right align</p>
                    </div>
                    <!-- / COLUMN -->
                </div> 
                <!-- / ROW -->   
            </div>
            <!-- / CONTENT -->
        </section>

        <!-------------------------->
        <!-- SECTION SCROLL SLIDE -->
        <!-------------------------->
        <section class="slide--scroll slide__bg--gradient-amber" >
            <!-- CONTENT -->
            <div class="slide--half__content ">    
                <!-- ROW -->
                <div class="row row__height15">
                    <!-- COLUMN -->
                    <div class="col-1-of-4 slide__bg--black-10">
                        <h3>
                            <span class="heading heading--white heading--3">Scroll Slide</span>
                            <span class="heading heading--white heading--2">col-1-of-4</span>
                            <span class="heading heading--white heading--4">A Row with a Row-Height of 15</span>
                        </h3>
                        <p class="paragraph--white">Paragraph and Heading properties set to white and default align</p>
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-4 slide__bg--black-10">
                        <h3>
                            <span class="heading heading--white heading--3">&nbsp;</span>
                            <span class="heading heading--white heading--2 heading--right">col-1-of-4</span>
                            <span class="heading heading--white heading--4 heading--right">A Row with a Row-Height of 15</span>
                        </h3>
                        <p class="paragraph--white paragraph--right">Paragraph and Heading properties set to white and right align</p>
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-4 slide__bg--black-10">
                        <h3>
                            <span class="heading heading--white heading--3">&nbsp;</span>
                            <span class="heading heading--white heading--2">col-1-of-4</span>
                            <span class="heading heading--white heading--4">A Row with a Row-Height of 15</span>
                        </h3>
                        <p class="paragraph--white">Paragraph and Heading properties set to white and default align</p>
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-4 slide__bg--black-10">
                        <h3>
                            <span class="heading heading--white heading--3 heading--right">&nbsp;</span>
                            <span class="heading heading--white heading--2 heading--right">col-1-of-4</span>
                            <span class="heading heading--white heading--4 heading--right">A Row with a Row-Height of 15</span>
                        </h3>
                        <p class="paragraph--white paragraph--right">Paragraph and Heading properties set to white and right align</p>
                    </div>
                    <!-- / COLUMN -->
                </div>  
                <!-- / ROW -->
                <!-- ROW -->
                <div class="row row__height15">
                    <!-- COLUMN -->
                    <div class="col-1-of-5 slide__bg--black-20">
                        <span class="heading heading--white heading--2 heading--center">col-1-of-5</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>     
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-5 slide__bg--black-20">
                        <span class="heading heading--white heading--2 heading--center">col-1-of-5</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-5 slide__bg--black-20">
                        <span class="heading heading--white heading--2 heading--center">col-1-of-5</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>      
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-5 slide__bg--black-20">
                        <span class="heading heading--white heading--2 heading--center">col-1-of-5</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-5 slide__bg--black-20">
                        <span class="heading heading--white heading--2 heading--center">col-1-of-5</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                </div>  
                <!-- / ROW -->
                <!-- ROW -->
                <div class="row row__height15">
                    <!-- COLUMN -->
                    <div class="col-1-of-6 slide__bg--black-40">
                        <span class="heading heading--white heading--2 heading--center">col-1-of-6</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>      
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-6 slide__bg--black-40">
                        <span class="heading heading--white heading--2 heading--center">col-1-of-6</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-6 slide__bg--black-40">
                        <span class="heading heading--white heading--2 heading--center">col-1-of-6</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>      
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-6 slide__bg--black-40">
                        <span class="heading heading--white heading--2 heading--center">col-1-of-6</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-6 slide__bg--black-40">
                        <span class="heading heading--white heading--2 heading--center">col-1-of-6</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-6 slide__bg--black-40">
                        <span class="heading heading--white heading--2 heading--center">col-1-of-6</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                </div>  
                <!-- / ROW -->
                <!-- ROW -->
                <div class="row row__height15">
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>      
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>      
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>      
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>  
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p>      
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                    <!-- COLUMN -->
                    <div class="col-1-of-12 slide__bg--black-60">
                        <span class="heading heading--white heading--3 heading--center">col-1-of-12</span>
                        <p class="paragraph--white paragraph--center">Paragraph and Heading properties set to white and center align</p> 
                    </div>
                    <!-- / COLUMN -->
                </div>  
                <!-- / ROW -->
            </div>
            <!-- / CONTENT -->
        </section>

    </main>

    <!-- Menu JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
    <script type="text/javascript" src="../../../js/components/components.js"></script>

</body>

</html>