.block {
    &--white-inside {
        background-color: $color-white; 
        padding: 2.5rem 2.5rem 0 2.5rem;
        overflow: hidden; 
        
        &__borderleft {
            &--black-80 {
                border-left: .5rem solid $color-black-60;
            }
            &--turq-primary {
                border-left: .5rem solid $color-turq-primary;
            }
            &--turq-secondary {
                border-left: .5rem solid $color-turq-secondary;
            }
            &--turq-tertiary {
                border-left: .5rem solid $color-turq-tertiary;
            }
            &--amb-primary {
                border-left: .5rem solid $color-amber-primary;
            }
            &--amb-secondary {
                border-left: .5rem solid $color-amber-secondary;
            }
            &--amb-tertiary {
                border-left: .5rem solid $color-amber-tertiary;
            }
        }
    }
    &--grey-inside {
        background-color: $color-black-80;
        padding: 2.5rem 2.5rem 0 2.5rem; 
        overflow: hidden;       
    }
    &--transparent-inside {
        padding: 2.5rem 2.5rem 0 2.5rem; 
        overflow: hidden;       
    }
    &--grey {
        background-color: $color-black-80;        
    }
    &--shadow-outside {
        box-shadow: $shadow-50-around;
    }

    &--shadow-behind {
        box-shadow: $shadow-50-behind;
    }
    &--shadow-around {
        box-shadow: $shadow-50-around;
    }
    &--shadow-30 {
        box-shadow: $shadow-30;
    }
    &--shadow-50 {
        box-shadow: $shadow-50; 
    }
}