.converter {
    
    &__header {
        
        width: 100%;
        height: $grid-row-height-02;
        border-bottom: 1px solid $color-grey-tertiary;
        display: flex;
        justify-content: space-around;
        align-content: center;

        @include respond(phone) { 
            height: $grid-row-height-03;
        }

        &__sell,
        &__buy {
            width: 40%;
            text-align: center;
            font-size: $default-font-size;
            line-height: $default-line-height;
            padding-top: 1.5rem;
            
            @include respond(phone) { 
                font-size: $default-font-size-phone;
                line-height: $default-line-height-phone;
                padding-top: 3rem;
            }
        }
        &__icon {
            width: 10%;   
        }
    }

    &__selector {

        display: flex;
        justify-content: space-around;

        height: 20rem;

        @include respond(phone) { 
            height: 34rem;
        }

        &__sell,
        &__buy {

            width: 40%;
            text-align: center;

            &__flag {
                padding-top: 1rem;
                
                @include respond(phone) {
                    padding-top: 3rem;
                }
            }
    
            &__currency_1 {
                padding-top: 1rem;
                font-family: "FNBSansRegular", sans-serif;
                font-size: $heading-font-3;
                line-height: $heading-line-height-3;  
                
                @include respond(phone) {
                    padding-top: 5rem;
                    font-size: $heading-font-3-phone;
                    line-height: $heading-line-height-3-phone; 
                }
                
            }
    
            &__currency_2 {
                padding-top: 1rem;
                font-size: $small-font-size;
                line-height: $small-line-height;

                @include respond(phone) {
                    padding-top: 5rem;
                    font-size: $small-font-size-phone;
                    line-height: $small-line-height-phone;
                }
                
            }
            
            &__total {
                font-size: $heading-font-3;
                height: $grid-row-height-02;  
                font-family: "FNBSansThin", sans-serif;
                text-decoration: underline;
                padding-top: 1rem;

                @include respond(phone) {
                    padding-top: 5rem;
                    font-size: $heading-font-3-phone;
                    line-height: $heading-line-height-3-phone; 
                }
                
            } 

        }

        &__icon {

            width: 10%;

            &__img {
                width: 5rem;
                height: 5rem;
                position: relative;
                left:50%;
                top:50%;
                transform: translate(-50%, -50%);

                
            }
            
        }

    }

    &__total {
        font-size: $default-font-size;
        line-height: $default-line-height;
        height: $grid-row-height-02;
        padding-top: 1.5rem;
        border-top: 1px solid $color-grey-tertiary;
        text-align: center;

        @include respond(phone) { 
            height: $grid-row-height-02-phone; 
            font-size: $default-font-size-phone;
            line-height: $default-line-height-phone;
            padding-top: 3rem;
        }

    }

}    

    
