.line {

    background-color: $color-grey-primary;

    &--vertical {
        border-right: 1px solid $color-grey-primary;
        height: 100%;
        width: 50% ;

        @include respond(phone) {
            width: 100% !important;
            border-right: 0px solid #9B9B9B;
            border-top: 1px solid #9B9B9B;
            top: 16rem;
            position: relative;
        }
    }

    &--horizontal {
        border-bottom: 1px solid $color-grey-primary;   
    }

}