.show {
    
    @include respond(phone) {           
        display: inline-block !important;                       
    } 
    
    display: none !important;
    
}

.hide {

    display: inline-block !important;

    @include respond(phone) {           
        display: none !important;                       
    }

}

.hide2 {
    
    display: block !important;

    @include respond(phone) {           
        display: none !important;                       
    }

}

.show-port {
    
    @include respond(tab-port) {           
        display: inline-block !important;                       
    } 
    
    display: none !important;
    
}

.hide-port {
    display: inline-block !important;

    @include respond(tab-port) {           
        display: none !important;                       
    }

}