.spacer {

    &--between {
        
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &--row {
            flex-direction: row;
        }

        &--t-around {
            @include respond(phone) {
                justify-content: space-around;   
            }
        }
        &--t-between {
            @include respond(phone) {
                justify-content: space-between;
            }
        }
        &--p-around {
            @include respond(phone) {
                justify-content: space-around;   
            }
        }
        &--p-between {
            @include respond(phone) {
                justify-content: space-between;
            }
        }
    }
    
    &--around {
        display: flex;
        justify-content: space-around;

        &--t-around {
            @include respond(phone) {
                justify-content: space-around;   
            }
        }
        &--t-between {
            @include respond(phone) {
                justify-content: space-between;
            }
        }
        &--p-around {
            @include respond(phone) {
                justify-content: space-around;   
            }
        }
        &--p-between {
            @include respond(phone) {
                justify-content: space-between;
            }
        }

    }
    
}

.hide {

    &--phone {
        @include respond(phone) {
            display: none;
        } 
    }
    &--tab-p {
        @include respond(tab-port) {
            display: none;
        } 
    }
    &--tab-l {
        @include respond(tab-land) {
            display: none;
        } 
    }
    &--pc-n {
        display: none;
    }
    &--pc-l {
        @include respond(big-desktop) {
            display: none;
        } 
    }
    
}
.show {

    &--phone {
        @include respond(phone) {
            display: block;
        } 
    }
    &--tab-p {
        @include respond(tab-port) {
            display: block;
        } 
    }
    &--tab-l {
        @include respond(tab-land) {
            display: block;
        } 
    }
    &--pc-n {
        display: block;
    }
    &--pc-l {
        @include respond(big-desktop) {
            display: block;
        } 
    }
    
}