*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}
 
html { 
    // defines what 1 REM is
    font-size: 62.5%;                      // 1 rem = 10px: 10px/16px = 62.5%

        @include respond(tab-land) {        
            font-size: 50%;                 // 1 rem = 8px: 8px/16px = 50%                 
        }

        @include respond(tab-port) {        
            font-size: 50%;               // 1 rem = 6px: 8px/16px = 37.5%                
        }

        @include respond(phone) {           
            font-size: 50%;                 // 1 rem = 4px: 4px/16px = 25%             
        }

        @include respond(big-desktop) {     
            font-size: 75%;                 // 1 rem = 12px: 12px/16px = 75%               
        }
}

body {
  box-sizing: border-box;  
  
}

html, 
body {
    height: 100%;
}

 main {
    position: relative;
    width: 100%;
    display: block;
 }

::selection {
    background-color: $color-turq-primary;
    color: $color-white;
}

 

