body {
    font-family: "RobotoRegular", sans-serif;
    font-weight: 100;
    color: $color-black;   
}

h1,
h2,
h3,
h4 {
    width: 100%;
}

p,
.paragraph {
        
    font-size: $default-font-size;
    line-height: $default-line-height;
    position: relative;
    top: 1rem;
    
    &:not(:last-child) {
        margin-bottom: 3.2rem;
    }

    @include respond(phone) { 
        top: .5rem;          
        font-size: $default-font-size-phone;
        line-height: $default-line-height-phone;
        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }
    }

    &--small {
        
        font-size: $small-font-size;
        line-height: $small-line-height;
        margin-bottom: 1rem;
        
    }
    &--tiny {
        
        font-size: $tiny-font-size;
        line-height: $small-line-height;
        
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
 
    &--white {
        color: $color-white;
    }
    &--turq {
        color: $color-turq-primary;
    }
    &--grey {
        color: $color-grey-primary;
    }
    &--grey-secondary {
        color: $color-grey-secondary;
    }
    &--grey-tertiary {
        color: $color-grey-tertiary; 
    }

    &--strong {
        font-family: "FNBSansBold", sans-serif;
        font-size: $default-font-size;
        font-weight: 900;
        
        @include respond(phone) { 
            font-size: $default-font-size-phone;
            line-height: $default-line-height-phone;
        }    
    }

    &--right {
        text-align: right;
    }
    &--bold {
        font-family: "FNBSansBold", sans-serif;
    }
    &--center {
        text-align: center;
    }
    &--paddBot {
        margin-bottom: 3.2rem;
    }
    &--tick {
        position: relative;
        font-size: $default-font-size;
        color: $color-black;
        background-image: url(../../img/base/tickBlckRight.svg);
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: 0 .5rem;
        padding-left: 2rem;
        margin-bottom: 0rem!important;
    }
    &--tick-white {
        position: relative;
        font-size: $default-font-size;
        color: $color-white;
        background-image: url(../../img/base/chevron-thin-right-white.svg);
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: 0 .5rem;
        padding-left: 2rem;
        margin-bottom: 0rem!important;
    }
}

.heading {

    position: relative;
    width: 100%;
    display: block;

    &--white {
        color: $color-white;
    }
    &--turq {
        color: $color-turq-primary;
    }
    
    &--ambGradient {
        background-image: linear-gradient( 160deg, $color-amber-primary, $color-other-pink);
        -webkit-background-clip: text;
        color: transparent;
    }

    &--0 {
        font-family: "FNBSansThin", sans-serif;
        font-size: $heading-font-0;
        line-height: $heading-line-height-0;
        top: 1.4rem;
        letter-spacing: -5px;
        
         
        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }

        @include respond(phone) { 
            top: 1.5rem;          
            font-size: $heading-font-1-phone;
            line-height: $heading-line-height-1-phone;
        }
            
    }
    &--1 {
        font-family: "FNBSansRegular", sans-serif;
        font-size: $heading-font-1;
        line-height: $heading-line-height-1;
        top: 1.4rem;
        letter-spacing: -5px;
        
        
        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }

        @include respond(phone) { 
            top: 1.5rem;          
            font-size: $heading-font-1-phone;
            line-height: $heading-line-height-1-phone;
        }
            
    }
    &--1-to-2 {
        font-family: "FNBSansRegular", sans-serif;
        font-size: $heading-font-1;
        line-height: $heading-line-height-1;
        top: 1.4rem;
        letter-spacing: -5px;
        
        
        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }

        @include respond(phone) {  
            top: 1rem;          
            letter-spacing: -2px;
            font-size: $heading-font-2-phone;
            line-height: $heading-line-height-2-phone;
        }
            
    }
    &--2 {
        font-family: "FNBSansRegular", sans-serif;
        font-size: $heading-font-2;
        line-height: $heading-line-height-2; 
        letter-spacing: -2px;
        top: 1rem; 
       
       &:not(:last-child) {
        margin-bottom: 2.5rem;
        }

        @include respond(phone) {           
            font-size: $heading-font-2-phone;
            line-height: $heading-line-height-2-phone;
        }

    }
    &--3 {
        font-family: "FNBSansThin", sans-serif;
        font-size: $heading-font-3;
        line-height: $heading-line-height-3;
        top: 2rem;
        letter-spacing: -1px;
        
        &:not(:last-child) {
            margin-bottom: 3.7rem;
        }

        @include respond(phone) {  
            top: 2rem;         
            font-size: $heading-font-3-phone;
            line-height: $heading-line-height-3-phone;
        }

    }

    &--4 {
        font-family: "FNBSansLight", sans-serif;
        font-size: $heading-font-4;
        line-height: $heading-line-height-4;
        top: .8rem;
        
        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }

        @include respond(phone) {           
            font-size: $heading-font-4-phone;
            line-height: $heading-line-height-4-phone;
        }
        
    }

    &--spacing2 {
        letter-spacing: 2px;
    }
    &--spacing4 {
        letter-spacing: 4px;
    }
 
    &--right {
        text-align: right;
    }
    
    &--center {
        text-align: center;
    }

    transition: all .5s;
}

.list {

    position: relative;
    width: 100%;
    display: block;
    font-size: $default-font-size;
    line-height: $default-line-height;
    top: 1rem;
    list-style: none;

    &__item {
        text-decoration: none;

        &--white {
            color: $color-white;
        }
        &--turq {
            color: $color-turq-primary;
        }
        &--grey {
            color: $color-grey-primary;
        }
        &--grey-secondary {
            color: $color-grey-secondary;
        }
        &--grey-tertiary {
            color: $color-grey-tertiary; 
        }

        &__tick-black {
            position: relative;
            font-size: $default-font-size;
            color: $color-black;
            background-image: url(../../img/base/tickBlckRight.svg);
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: 0 .5rem;
            padding-left: 2rem;
            margin-bottom: 0rem!important;
        } 
        &__tick-white {
            position: relative;
            font-size: $default-font-size;
            color: $color-white;
            background-image: url(../../img/base/chevron-thin-right-white.svg);
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: 0 .5rem;
            padding-left: 2rem;
            margin-bottom: 0rem!important;
        }
        &__dot-black {
            position: relative;
            font-size: $default-font-size;
            color: $color-black;
            background-image: url(../../img/base/dot.svg);
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: 0 .5rem;
            padding-left: 2rem;
            margin-bottom: 0rem!important;
        } 
        &__dot-white {
            position: relative;
            font-size: $default-font-size;
            color: $color-white;
            background-image: url(../../img/base/dotw.svg);
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: 0 .5rem;
            padding-left: 2rem;
            margin-bottom: 0rem!important;
        }

    }

    &__sub-list {
        list-style: none;
        font-size: $small-font-size;
        line-height: $small-line-height;
        position: relative;
        top: 1rem;

        &__item {
            text-decoration: none;
            position: relative;
            padding-left: 1rem;
            border-left: 1px solid $color-black;
            color: $color-black;

            &--white {
                border-left: 1px solid $color-white; 
                color: $color-white;  
            }
        }
    }


}