.spacer {

    &__container {
        &__flex {
            display: flex;
            min-height: inherit;
    
            &__row {
                flex-direction: row;
            }
            
            &__column {
                flex-direction: column;
            }
    
            &__wrap {
                flex-wrap: wrap;
    
                &--nowrap {
                    flex-wrap: nowrap;    
                }
                
                &--reverse {
                    flex-wrap: wrap-reverse; 
                }
            }
            
            &__content {
                
                &__justify {
                    &--start {
                        justify-content: flex-start;
                    }
                    &--end {
                        justify-content: flex-end;
                    }
                    &--center {
                        justify-content: center;
                    }
                    &--between {
                        justify-content: space-between;
                    }
                    &--around {
                        justify-content: space-around;
                    }
                    &--evenly {
                        justify-content: space-evenly;
                    }
                }
                
                &__align {
                    &__stretch {
                        align-content: stretch;
                    }
                    &--start {
                        align-content: flex-start;
                    }
                    &--end {
                        align-content: flex-end;
                    }
                    &--center {
                        align-content: center;
                    }
                    &--between {
                        align-content: space-between;
                    }
                    &--around {
                        align-content: space-around;
                    }
                }
            }

            &__items {
                &--stretch {
                    align-items: flex-start;
                }
                &--start {
                    align-items: flex-start;
                }
                &--end {
                    align-items: flex-end;
                }
                &--center {
                    align-items: center;
                }
                &--base {
                    align-items: baseline;
                }  
            }

        }
    }

    &__item {

        &__align {
            &--auto {
                align-self: auto;
            }
            &--stretch {
                align-self: stretch;
            }
            &_--trat {
                align-self: flex-start;
            }
            &--end {
                align-self: flex-end;
            }
            &--center {
                align-self: center;
            }
            &--baseline {
                align-self: baseline;
            }
        }
        
        &__order {
            &--0 {
                order: 0;
            }
            &--1 {
                order: 1;
            }
            &--2 {
                order: 2;
            }
            &--3 {
                order: 3;
            }
            &--4 {
                order: 4;
            }
            &--5 {
                order: 5;
            }
            &--6 {
                order: 6;
            }
            &--7 {
                order: 7;
            }
            &--8 {
                order: 8;
            }
            &--9 {
                order: 9;
            }
            &--10 {
                order: 10;
            }
            &--11 {
                order: 11;
            }
            &--12 {
                order: 12;
            }
        }

    }  
    
}