
<!-- Nav Bar -->
<div class="fnb-navigation">     
    <div class="fnb-navigation__navBar">
        <div class="fnb-navigation__burgerMenu col--2-of-12">
            <div class="fnb-navigation__burgerMenu__button" onclick="menuTriger()"><span class="fnb-navigation__burgerMenu__icon"></span></div>    
            <div class="fnb-navigation__burgerMenu__label fnb-navigation__burgerMenu__label__menu">Menu</div>
            <div class="fnb-navigation__burgerMenu__label fnb-navigation__burgerMenu__label__close">Close</div>
        </div>
        <div class="fnb-navigation__loginMenu col--4-of-12">
            <div class="fnb-navigation__loginMenu__form">
                <div class="fnb-navigation__loginMenu__form__input">Username</div>
                <div class="fnb-navigation__loginMenu__form__loginBtn">Login</div>
            </div>
            <div class="fnb-navigation__loginMenu__links">        
                <div class="fnb-navigation__loginMenu__links__link">Forgot</div>
                <div class="fnb-navigation__loginMenu__links__link">Register</div>
            </div>
        </div>
    </div>     
</div>
     
<!-- Mega Menu -->  
<div class="fnb-navigation__megaMenu" id="megaMenu" > 
    
    <!-- SEGMENTS -->
    <div class="fnb-navigation__megaMenu__left">
        <div class="fnb-navigation__megaMenu__segments">
            <div class="fnb-navigation__megaMenu__segments__segment" id="segments">
                <div class="fnb-navigation__megaMenu__segments__segment__btn fnb-navigation__megaMenu__segments__segment__btn--active" onclick="segmentTriger('me')">For me</div>  
                <div class="fnb-navigation__megaMenu__segments__segment__btn" onclick="segmentTriger('myBusiness')">For my business</div> 
                <div class="fnb-navigation__megaMenu__segments__segment__btn" onclick="segmentTriger('myFamily')">For my family</div>  
                <div class="fnb-navigation__megaMenu__segments__segment__btn" onclick="segmentTriger('myPrivateBanking')">Private banking</div>  
                <div class="fnb-navigation__megaMenu__segments__segment__btn" onclick="segmentTriger('myCorporateBanking')">Corporate banking</div>  
            </div>
        </div>
    </div> 
     
    <!-- PRODUCTS --> 
    <div class="fnb-navigation__megaMenu__right">
        <!-- FOR ME -->
        <ul class="fnb-navigation__megaMenu__products fnb-navigation__megaMenu__products--active" id="segMe">
            <li class="fnb-navigation__megaMenu__products__product__heading">For me</li> 
            <li class="fnb-navigation__megaMenu__products__product__btn">Bank</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Save and Invest</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Borrow</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Insure</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Plan for the future</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Travel and Forex</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Shop and Connect</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Nav»igate life</li> 
            <li class="fnb-navigation__megaMenu__products__product__btn">Earn rewards</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Switch to FNB</li>
        </ul>
        <!-- FOR MY BUSINESS -->
        <ul class="fnb-navigation__megaMenu__products fnb-navigation__megaMenu__products--inActive" id="segMyB">
            <li class="fnb-navigation__megaMenu__products__product__heading">For my business</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Bank</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Invest</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Borrow</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Insure</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Run and Grow</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Travel, Forex and Trade</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Earn rewards</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Switch to FNB</li>
        </ul> 
        <!-- FOR MY FAMILY -->
        <ul class="fnb-navigation__megaMenu__products fnb-navigation__megaMenu__products--inActive" id="segMyF">
            <li class="fnb-navigation__megaMenu__products__product__heading">My familiy</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Wills, Trusts & Estates</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Financial planning</li>
        </ul>
        <!-- FOR PRIVATE BANKING -->
        <ul class="fnb-navigation__megaMenu__products fnb-navigation__megaMenu__products--inActive" id="segMyP">
            <li class="fnb-navigation__megaMenu__products__product__heading">How can we help you</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Bank</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Save and Invest</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Borrow</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Insure</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Plan for the future</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Travel and Forex</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Earn rewards</li>
            <li class="fnb-navigation__megaMenu__products__product__btn">Switch to FNB</li>
        </ul>
        <!-- FOR CORPORATE BANKING -->
        <ul class="fnb-navigation__megaMenu__products fnb-navigation__megaMenu__products--inActive" id="segMyC">
            <li class="fnb-navigation__megaMenu__products__heading">How can we help you</li>
        </ul>
        <!-- OTHER -->
        <!-- <div class="fnb-navigation__megaMenu__content__bar " id="otherMenu">
            <ul class="fnb-navigation__megaMenu__content__links" id="corporateBanking">
                <li class="fnb-navigation__megaMenu__products__heading">How can we help you</li>
            </ul> 
        </div> -->
        
    </div>  
    

</div>
    
<script src="../../js/layout/fnb-navigation.js"></script> 
 

                
        
              
    
    




