<div class="footer__content">
    <div class="row row__height8">
        <div class="col-1-of-4-to-1">
            <span class="heading heading--white heading--3 footer--headingallign hide">Tools</span>
            <span class="heading heading--white heading--4 footer--headingallign show">Tools</span>
            <ul class="footer__nav hide">
                <li><a class="footer__link" href="">Debit order + salary switching</a></li>   
                <li><a class="footer__link" href="">Progress tracking</a></li>   
                <li><a class="footer__link" href="">Process verifications</a></li>   
                <li><a class="footer__link" href="">Uploads and downloads</a></li>   
                <li><a class="footer__link" href="">FNB Approved Suppliers</a></li>   
                <li><a class="footer__link" href="">eWallet balance enquiry</a></li>   
                <li><a class="footer__link" href="">iContract</a></li>   
            </ul>
        </div>
        <div class="col-1-of-4-to-1">
            <span class="heading heading--white heading--3 footer--headingallign hide">Calculators</span>
            <span class="heading heading--white heading--4 footer--headingallign show">Calculators</span>
                <ul class="footer__nav hide">
                    <li><a class="footer__link" href="">Home loans</a></li>   
                    <li><a class="footer__link" href="">Day to day banking</a></li>   
                    <li><a class="footer__link" href="">Vehicle repayment</a></li>   
                    <li><a class="footer__link" href="">Shares</a></li>   
                    <li><a class="footer__link" href="">Forex</a></li>   
                </ul>
        </div>
        <div class="col-1-of-4-to-1">
            <span class="heading heading--white heading--3 footer--headingallign hide">Contact us</span>
            <span class="heading heading--white heading--4 footer--headingallign show">Contact us</span>
            <ul class="footer__nav hide">
                <li><a class="footer__link" href="">Talk to us</a></li>   
                <li><a class="footer__link" href="">Fraud + Disputes</a></li>   
                <li><a class="footer__link" href="">Locators</a></li>   
            </ul>
        </div>
        <div class="col-1-of-4-to-1 show">
                <span class="heading heading--white heading--3 footer--headingallign hide">Security centre</span>
                <span class="heading heading--white heading--4 footer--headingallign show">Security centre</span>
                <ul class="footer__nav hide">
                    <li><a class="footer__link" href="">Know the latest scams</a></li>   
                    <li><a class="footer__link" href="">Preventing fraud</a></li>   
                    <li><a class="footer__link" href="">Report fraud</a></li>   
                </ul>
            </div>   
            <div class="col-1-of-4-to-1 show">
                <span class="heading heading--white heading--3 footer--headingallign hide">About FNB</span>
                <span class="heading heading--white heading--4 footer--headingallign show">About FNB</span>
                <ul class="footer__nav hide">
                    <li><a class="footer__link" href="">World of FNB</a></li>   
                    <li><a class="footer__link" href="">News + Insights</a></li>   
                    <li><a class="footer__link" href="">Careers at FNB</a></li>   
                </ul>
            </div>
        <div class="col-1-of-4-to-1">
            <span class="heading heading--white heading--3 footer--headingallign">Download the App</span>
            <div class="footer__download-store">
                <a href="" class="footer__download-store__btn footer__download-store__btn__android"></a>
                <a href="" class="footer__download-store__btn footer__download-store__btn__apple"></a>       
            </div>
        </div>
    </div> 
    <div class="row row__height8">
        <div class="col-1-of-4-to-1">
            &nbsp;
        </div>
        <div class="col-1-of-4-to-1 hide">
            <span class="heading heading--white heading--3 footer--headingallign hide">Security centre</span>
            <span class="heading heading--white heading--4 footer--headingallign show">Security centre</span>
                <ul class="footer__nav hide">
                    <li><a class="footer__link" href="">Know the latest scams</a></li>   
                    <li><a class="footer__link" href="">Preventing fraud</a></li>   
                    <li><a class="footer__link" href="">Report fraud</a></li>   
                </ul>
        </div>   
        <div class="col-1-of-4-to-1 hide">
            <span class="heading heading--white heading--3 footer--headingallign hide">About FNB</span>
            <span class="heading heading--white heading--4 footer--headingallign show">About FNB</span>
            <ul class="footer__nav hide">
                <li><a class="footer__link" href="">World of FNB</a></li>   
                <li><a class="footer__link" href="">News + Insights</a></li>   
                <li><a class="footer__link" href="">Careers at FNB</a></li>   
            </ul>
        </div>
        <div class="col-1-of-4-to-1">
            <span class="heading heading--white heading--3 footer--headingallign">Connect with us</span>
            <div class="footer__socialmedia">
                <a href="" class="footer__socialmedia__btn footer__socialmedia__btn__facebook"></a>   
                <a href="" class="footer__socialmedia__btn footer__socialmedia__btn__twitter"></a>   
                <a href="" class="footer__socialmedia__btn footer__socialmedia__btn__instagram"></a>   
                <a href="" class="footer__socialmedia__btn footer__socialmedia__btn__linkedin"></a>   
                <a href="" class="footer__socialmedia__btn footer__socialmedia__btn__youtube"></a>   
            </div>
        </div>
    </div> 

</div>
<div class="footer__legal"> 
    <div class="footer__legal__nav">
        <u class="">
            <li class="footer__legal__link">Legal</li>
            <li class="footer__legal__link">Rates & pricing</li>
            <li class="footer__legal__link">Sitemap</li>
        </u>    
        <div class="">First National Bank - a division of FirstRand Bank Limited. An Authorised Financial Services and Credit Provider 1929/001225/06 (NCRCP20)</div>
        <div class="footer__legal__link footer__legal__link--back hide">Back to top</div>       
    </div>
</div>