<!-- Segements Menu -->
<div class="navigation__segments">
    <div class="navigation__segments__nav">
        <ul class="navigation__segments__list1">
            <li class="navigation__segments__item"><a href="../../index.html" class="navigation__segments__link">Personal</a></li>
            <li class="navigation__segments__item"><a href="../../index_business.html" class="navigation__segments__link">Business</a></li>
            <li class="navigation__segments__item"><a href="../../index_private.html" class="navigation__segments__link navigation__segments__link__active">Private</a></li>
            <li class="navigation__segments__item"><a href="../../index_corporate.html" class="navigation__segments__link">Corporate</a></li>
        </ul>   
        <ul class="navigation__segments__list2">    
            <li class="navigation__segments__item"><a href="#" class="navigation__segments__link">About us</a></li>
            <li class="navigation__segments__item"><a href="#" class="navigation__segments__link">Contact us</a></li>
            <li class="navigation__segments__item"><a href="#" class="navigation__segments__link">Country</a><span class=" navigation__segments__flag"></span></li>
        </ul>   
    </div>
</div>

<!-- Logo + Search + Login -->
<div class="navigation__menu">     
    <div class="navigation__menu__nav">
        <div class="navigation__menu__nav__list-1">
            <div class="navigation__menu__nav__logo hide"><img width="100%" src="../../../img/base/FNB_Logo.svg"></div> 
        </div>    
        <div class="navigation__menu__nav__list-2">
            <div class="navigation__menu__nav__search  navigation__menu__nav__search__btn">
                <input class="navigation__menu__nav__search__input" type="text"  id="search-toggle">
                <div class="navigation__menu__nav__search__bg">
                    <span class="heading heading--3 home__slide6__form-content--heading-align">Search Results Demo</span>
                    <a class="textBtn" href="">Result 1 </a> <br/>
                    <a class="textBtn" href="">Result 2 </a>  <br/>
                    <a class="textBtn" href="">Result 3 </a>  <br/>
                    <a class="textBtn" href="">Result 4 </a>  <br/>
                </div>  
            </div>
            <div class="navigation__menu__nav__login" onclick="loginBtn()">
                <a href="#" class="navigation__menu__nav__login__btn btn--amber " >Login</a>
                <a href="#" class="navigation__menu__nav__login__btn__close" ></a>
            </div>
            <div class="navigation__menu__nav__logo show"><img width="100%" src="../../../img/base/FNB_Logo.svg"></div> 
        </div>    
    </div> 
</div> 

<!-- Burger Menu -->
<input type="checkbox" class="navigation__menu__checkbox" id="navi-toggle">
<label for="navi-toggle" class="navigation__menu__button">   
    <span class="navigation__menu__icon">&nbsp;</span>
    <span class="navigation__menu__label1 hide">Menu</span>
    <span class="navigation__menu__label2 hide">Close</span>
</label> 

<!-- Mega Menu -->
<div class="navigation__menu__tint"></div> 
<div class="navigation__menu__background">
    <!-- PC MENU -->
    <div class="navigation__mega-menu" id="megaMenu">
        <div class="navigation__mega-menu__line">&nbsp</div>
        <!-- Products -->
        <div class="navigation__mega-menu__btn  navigation__mega-menu__active">   
            <div class="navigation__mega-menu__header">Products</div>
            <ul class="navigation__mega-menu__content navigation__mega-menu__content__links">
                <li class="navigation__mega-menu__content__links__sub-header">Transact
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Bank  accounts</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Credit cards</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Private business account</a></li>     
                    </ul>    
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">Invest
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Cash investments</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Share investing</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Securities trading</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Offshore banking</a></li>     
                    </ul>            
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">Borrow
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Credit cards</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Personal credit</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Structured loans</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Single facility</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Home loans</a></li>     
                    </ul>
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">Insure
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Protect your assets</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Law on call</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Debt protection</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Art insurance</a></li>     
                    </ul>
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">Connect
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Why Connect?</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Smart devices</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Coverage map</a></li>       
                    </ul>
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">Forex
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Connecting you to the world</a></li>       
                    </ul>
                </li>
            </ul>  
        </div>
        <!-- Services -->
        <div class="navigation__mega-menu__btn">
            <div class="navigation__mega-menu__header">Services</div>
            <ul class="navigation__mega-menu__content navigation__mega-menu__content__links">
                <li class="navigation__mega-menu__content__links__sub-header">Financial planning
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Global financial planning</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Fiduciary & risk</a></li>     
                    </ul>    
                </li>
            </ul> 
        </div>
        <!-- Give -->
        <div class="navigation__mega-menu__btn">
            <div class="navigation__mega-menu__header">Give</div>
            <ul class="navigation__mega-menu__content navigation__mega-menu__content__links">
                <li class="navigation__mega-menu__content__links__sub-header">Philanthropy
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Philanthropy Centre</a></li>     
                    </ul>    
                </li>
            </ul> 
        </div>
        <!-- Rewards -->
        <div class="navigation__mega-menu__btn ">
            <div class="navigation__mega-menu__header">Rewards</div>
            <ul class="navigation__mega-menu__content navigation__mega-menu__content__links" id="rewards">
                <li class="navigation__mega-menu__content__links__sub-header">eBucks
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">About eBucks</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">eBucks calculator</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">eBucks shop</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">eBucks travel</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">eBucks card</a></li>     
                    </ul>    
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">SLOW
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">SLOW Lounges</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">SLOW in the City</a></li>     
                    </ul>            
                </li>                   
            </ul> 
        </div>     
        <!-- Ways to bank -->
        <div class="navigation__mega-menu__btn ">
            <div class="navigation__mega-menu__header">Ways to bank</div>
            <ul class="navigation__mega-menu__content navigation__mega-menu__content__links">
                <li class="navigation__mega-menu__content__links__sub-header">Private banker
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Your private banker</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Private banking advice</a></li>     
                    </ul>
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">Tools
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Debit order & salary switching</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Progress tracking</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Process verifications</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Uploads & downloads</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">FNB approved suppliers</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">eWallet balance enquiry</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">iContract</a></li>     
                    </ul>    
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">Banking with us
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">App for smartphones</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">App for tablets</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Watch App</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Online Banking</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Cellphone Banking</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Branch</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">ATM</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Telephone</a></li>     
                    </ul>            
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">nav» igating life
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">nav» Home</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">nav» Car</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">nav» Money</a></li>     
                    </ul>
                </li>  
            </ul> 
        </div>     
        <!-- Information -->
        <div class="navigation__mega-menu__btn ">
            <div class="navigation__mega-menu__header">Information</div>
            <ul class="navigation__mega-menu__content navigation__mega-menu__content__links">
                <li class="navigation__mega-menu__content__links__sub-header">Learn
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Demos</a></li>       
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">New letter</a></li>     
                    </ul>
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">Locators
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">ATM locator</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Branch locator</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Book a branch visit</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Business Directory</a></li>     
                    </ul>            
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">Security centre
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Latest scam</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Protect yourself</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Digital fraud</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Other types of fraud</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Documents & contacts</a></li>     
                    </ul>
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">Calculators
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Home loans</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Day-to-day banking</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Shares</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Forex</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Vehicle repayment</a></li>     
                    </ul>
                </li>
                <li class="navigation__mega-menu__content__links__sub-header">Rates & pricing
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Product rates</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Pricing guide</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Foreign exchange rates</a></li>       
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Lending rates</a></li>       
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">SA indicators</a></li>       
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">FirstRand share price</a></li>       
                    </ul>
                </li>
            </ul>           
        </div>   
    </div> 
    
    <!-- PH MENU -->
    <div class="navigation__mega-menu-phone" id="megaMenuPhone">
        <div class="nav__phone">
            <div class="navigation__mega-menu-phone__phone__segment">Private</div>    
            <div class="navigation__mega-menu-phone__phone__menu"></div>     
        </div>
        <!-- Products -->
        <div class="navigation__mega-menu-phone__btn-container">
            <span class="navigation__mega-menu-phone__back" onclick="backBtn()"></span>   
            <div class="navigation__mega-menu-phone__header"><span class="navigation__mega-menu-phone__header--padding">Products</span>
                <ul class="navigation__mega-menu-phone__content navigation__mega-menu__content__links">
                    <li class="navigation__mega-menu-phone__content__links__sub-header" >Transact
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Bank  accounts</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Credit cards</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Private business account</a></li>     
                        </ul>    
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Invest
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Cash investments</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Share investing</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Securities trading</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Offshore banking</a></li>     
                        </ul>            
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Borrow
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Credit cards</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Personal credit</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Personal credit</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Single facility</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Home loans</a></li>     
                        </ul>
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Insure
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Protect your assets</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Law on Call</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Debt protection</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Art insurance</a></li>     
                        </ul>
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Connect
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Why Connect?</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Smart devices</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Coverage map</a></li>       
                        </ul>
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Forex
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Connecting you to the world</a></li>       
                        </ul>
                    </li>
                </ul>       
            </div>     
        </div>
        <!-- Services -->
        <div class="navigation__mega-menu-phone__btn-container">
            <div class="navigation__mega-menu-phone__header"><span class="navigation__mega-menu-phone__header--padding">Services</span>
                <ul class="navigation__mega-menu-phone__content navigation__mega-menu__content__links">
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Financial planning
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Global financial planning</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Fiduciary & risk</a></li>     
                        </ul>
                    </li>  
                </ul>
            </div>      
        </div>
        <!-- Give -->
        <div class="navigation__mega-menu-phone__btn-container ">
            <div class="navigation__mega-menu-phone__header"><span class="navigation__mega-menu-phone__header--padding">Give</span>
                <ul class="navigation__mega-menu-phone__content navigation__mega-menu__content__links" id="rewards">
                    <li class="navigation__mega-menu-phone__content__links__sub-header ">Philanthropy
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Philanthropy centre</a></li>     
                        </ul>            
                    </li>                   
                </ul> 
            </div> 
        </div>     
        <!-- Rewards -->
        <div class="navigation__mega-menu-phone__btn-container ">
            <div class="navigation__mega-menu-phone__header"><span class="navigation__mega-menu-phone__header--padding">Rewards</span>
                <ul class="navigation__mega-menu-phone__content navigation__mega-menu__content__links" id="rewards">
                    <li class="navigation__mega-menu-phone__content__links__sub-header ">eBucks
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Earn eBucks</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Spend eBucks</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">eBucks discounts</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">eBucks lifestyle</a></li>     
                        </ul>    
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">SLOW
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">SLOW Lounges</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">SLOW in the City</a></li>     
                        </ul>            
                    </li>                   
                </ul> 
            </div> 
        </div>     
        <!-- Ways to bank -->
        <div class="navigation__mega-menu-phone__btn-container ">
            <div class="navigation__mega-menu-phone__header"><span class="navigation__mega-menu-phone__header--padding">Ways to bank</span>
                <ul class="navigation__mega-menu-phone__content navigation__mega-menu__content__links">
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Private banker
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Your private banker</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Private banking advice</a></li>     
                        </ul>
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Tools
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Debit order & salary switching</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Progress tracking</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Process verifications</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Uploads & downloads</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">FNB approved suppliers</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">eWallet balance enquiry</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">iContract</a></li>     
                        </ul>    
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Banking with us
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">App for smartphones</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">App for tablets</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Watch App</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Online Banking</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Cellphone Banking</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Branch</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">ATM</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Telephone</a></li>     
                        </ul>            
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">nav» igating life
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">nav» Home</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">nav» Car</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">nav» Money</a></li>     
                        </ul>
                    </li>  
                </ul> 
            </div>  
        </div>     
        <!-- Information -->
        <div class="navigation__mega-menu-phone__btn-container ">
            <div class="navigation__mega-menu-phone__header"><span class="navigation__mega-menu-phone__header--padding">Information</span>
                <ul class="navigation__mega-menu-phone__content navigation__mega-menu__content__links">
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Learn
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Demos</a></li>       
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">News letters</a></li>     
                        </ul>
                    </li>
                   <li class="navigation__mega-menu-phone__content__links__sub-header">Locators
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">ATM locator</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Branch locator</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Book a branch visit</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Business Directory</a></li>     
                        </ul>            
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Security centre
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Latest scam</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Protect yourself</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Digital fraud</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Other types of fraud</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Documents & contacts</a></li>     
                        </ul>
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Calculators
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Home loans</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Day-to-day banking</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Shares</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Forex</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Vehicle repayment</a></li>     
                        </ul>
                    </li>
                    <li class="navigation__mega-menu-phone__content__links__sub-header">Rates & pricing
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Product rates</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Pricing guide</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Foreign exchange rates</a></li>       
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Lending rates</a></li>       
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">SA indicators</a></li>       
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">FirstRand share price</a></li>       
                        </ul>
                    </li>
                </ul> 
            </div>         
        </div>   
    </div>           
</div> 

<!-- Login Menu -->
<div class="navigation__menu__tint2" id="tint" onclick="loginBtn()"></div> 
<div class="navigation__menu__background2" id="Bg">
    <!-- Login MENU -->
    <div class="navigation__login-menu" id="login-menu">
        <div class="navigation__login-menu__bars show">
            <div class="navigation__login-menu__bars--top"></div>
            <div class="navigation__login-menu__bars--bot">
                <div class="navigation__menu__nav__login" onclick="loginBtn()">
                    <a href="#" class="navigation__menu__nav__login__btn__close " ></a>
                </div>
            </div>
        </div>  
        <div class="navigation__login-menu__content">
            <div class="row row__height13 navigation__login-menu__content--flex ">
                <div class="navigation__login-menu__content--flex__1 hide">
                    <div class="navigation__login-menu__form-content row__height13">
                        <span class="heading heading--3 navigation__login-menu__form-content--heading-align">Bank on the move</span>
                        <span class="heading heading--4 navigation__login-menu__form-content--heading-align">Get the FNB banking app & take your banking to the next level.</span>
                        <p class="paragraph--tick">Login with your fingerprints</p>
                        <p class="paragraph--tick">Manage your finance with nav» Money</p>
                        <p class="paragraph--tick">Easily buy airtime & electricity</p>
                        <div class="navigation__login-menu__stores">
                            <a href="/underConstryction1.html" class="btn btn--imageWhite  btn--short btn--shadow navigation__login-menu__stores__btn"><img width="80%" src="img/base/download_white_android.jpg"></a>
                            <a href="/underConstryction1.html" class="btn btn--imageWhite  btn--short btn--shadow"><img width="80%" src="img/base/download_white_apple.jpg"></a>
                        </div>
                    </div>
                </div>
                <div class="navigation__login-menu__content--flex__2 hide">
                    <div class="row__height13 line--vertical">&nbsp;</div>
                </div>
                <div class="navigation__login-menu__content--flex__3">
                    <div class="navigation__login-menu__form-content row__height13">
                        <span class="heading heading--3 navigation__login-menu__form-content--heading-align">Login to banking</span>
                        <form class="">
                            <div class="form">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Username</label>
                            </div>
                            <div class="form">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Password</label>
                            </div>
                        </form>
                        <div><a class="btn btn--amber btn--short btn--shadow navigation__login-menu__form-content--button-align" href="/underConstryction1.html">Login </a></div>
                        <div><a class="btn btn--white btn--short btn--shadow navigation__login-menu__form-content--button-align" href="/underConstryction1.html">Register </a></div>
                        <a class="textBtn" href="/underConstryction1.html">Forgot Password </a>    
                    </div>
                </div>
                
                <div class="navigation__login-menu__stores show">
                    <p class="paragraph">Download the app</p>
                    <a href="/underConstryction1.html" class="btn btn--short btn--imageWhite btn--shadow ">
                        <img width="60%" src="img/base/download_white_apple.jpg">
                    </a>
                </div>
            </div>
        </div>    
    </div> 
</div> 

<!-- Menu JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
<script type="text/javascript" src="../../../js/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="../../../js/nav.js"></script>


