<!-- Nav Bar -->
<div class="navigation3__navBar">     
    <div class="navigation3__navBar__menu">
        <!-- PC MENU TRIGGER -->
        <div class="navigation3__navBar__menu__button hide" id="menuID" onclick="menuTriger()">   
            <span class="navigation3__navBar__menu__icon"></span>
            <span class="navigation3__navBar__menu__label1">Explore</span>
            <span class="navigation3__navBar__menu__label2">Close</span>
        </div>
        <!-- MOBILE MENU TRIGGER -->
        <div class="navigation3__navBar__menu__button show" id="menuID" onclick="menuTrigerMobile()">   
            <span class="navigation3__navBar__menu__icon"></span>
            
        </div>
    </div>
</div> 
 
<!-- Mega Menu -->
<div class="navigation3__navBar__menu__tint hide" onclick="menuTriger()"></div> 
<div class="navigation3__navBar__menu__tint show" onclick="menuTrigerMobile()"></div> 
<div class="navigation3__navBar__menu__background" >
    <div class="navigation3__mega-menu" id="megaMenu">
        <div class="navigation3__mega-menu__segments-bg"></div>
        <div class="navigation3__mega-menu__line">&nbsp</div>  
        <div class="navigation3__mega-menu__group">
            
            <!-- SEGMENTS -->
            <div class="navigation3__mega-menu__segments__bar">
                <div class="navigation3__mega-menu__segments__bar__segment">
                    <div class="navigation3__mega-menu__segments__bar__segment__btn hide" id="segMe" onclick="segmentTriger('me')">Layout</div>  
                    <div class="navigation3__mega-menu__segments__bar__segment__btn hide" id="segMyB" onclick="segmentTriger('myBusiness')">Base Symbols</div>  
                    
                    <div class="navigation3__mega-menu__segments__bar__segment__btn show" id="segMeMobile" onclick="segmentTrigerMobile('me')">For me</div>  
                    <div class="navigation3__mega-menu__segments__bar__segment__btn show" id="segMyBMobile" onclick="segmentTrigerMobile('myBusiness')">For my business</div>  

                    <div class="navigation3__mega-menu__back show" id="backBtnMobile" onclick="backBtnMobile()"></div> 
                </div>
            </div>

            <!-- FOR ME -->
            <div class="navigation3__mega-menu__content__bar " id="forMeMenu">
                <!-- Grid -->
                <div class="navigation3__mega-menu__content__bar__btn navigation3__mega-menu__content__bar__btn--5"> 
                        
                    <div class="navigation3__mega-menu__content__bar__header " id="firstMeHeader">Grid System</div>
                    
                    <ul class="navigation3__mega-menu__content__bar__links " id="firstMeLinks">
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Grid Frame</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Grid Rows</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Grid Columns</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Grid Interaction and Behavior</a></li>           
                            </ul>    
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Savings & Investments</a></li>      
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Ways to bank</a></li>
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Overdraft</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Loans</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Home loans</a></li>    
                            </ul>    
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products">    
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Vehicle finance</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Forex</a></li>       
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Wills and trusts</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Financial planning</a></li>       
                            </ul>    
                        </li>
                    </ul>
                </div>
                <!-- Frames -->
                <div class="navigation3__mega-menu__content__bar__btn navigation3__mega-menu__content__bar__btn--5">
                    <div class="navigation3__mega-menu__content__bar__header">Frames</div>
                    <ul class="navigation3__mega-menu__content__bar__links">
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products"> Outer
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Cover Page</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">1/2 Page</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Scroll Page</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Overlay</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Process verifications</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Uploads & downloads</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">FNB approved suppliers</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">eWallet balance enquiry</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">iContract</a></li>     
                            </ul>    
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">App for smartphones</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">App for tablets</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Watch App</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Online Banking</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Cellphone Banking</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Branch</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">ATM</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Telephone</a></li>     
                            </ul>            
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">FNB Pay</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Partner Wallets</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Security & Technology</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Whats new</a></li>     
                            </ul>
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">nav» Home</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">nav» Car</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">nav» Money</a></li>     
                            </ul>
                        </li>  
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Press Office</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Economics commentary</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Insights</a></li>     
                            </ul>
                        </li>  
                    </ul> 
                </div>
                <!-- Rewards -->
                <div class="navigation3__mega-menu__content__bar__btn navigation3__mega-menu__content__bar__btn--5 ">
                    <div class="navigation3__mega-menu__content__bar__header">Rewards</div>
                    <ul class="navigation3__mega-menu__content__bar__links">
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">About eBucks</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">eBucks calculator</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">eBucks shop</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">eBucks travel</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">eBucks card</a></li>     
                            </ul>    
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">SLOW Lounges</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">SLOW in the City</a></li>     
                            </ul>            
                        </li>                   
                    </ul> 
                </div>     
                <!-- Rates & Pricing -->
                <div class="navigation3__mega-menu__content__bar__btn navigation3__mega-menu__content__bar__btn--5 ">
                    <div class="navigation3__mega-menu__content__bar__header">Rates & Pricing</div>
                    <ul class="navigation3__mega-menu__content__bar__links">
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Product rates</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Pricing guide</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Foreign exchange rates</a></li>       
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Lending rates</a></li>       
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">SA indicators</a></li>       
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">FirstRand share price</a></li>       
                            </ul>
                        </li> 
                    </ul> 
                </div>     
                <!-- Careers -->
                <div class="navigation3__mega-menu__content__bar__btn navigation3__mega-menu__content__bar__btn--5 ">
                    <div class="navigation3__mega-menu__content__bar__header">Careers</div>
                    <ul class="navigation3__mega-menu__content__bar__links">
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--5">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Working at FNB</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Experienced hires</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Gradutaes</a></li>       
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">FNB's accolades</a></li>      
                            </ul>    
                        </li>
                        
                    </ul>           
                </div> 
            </div>
            <!-- FOR MY BUSINESS -->
            <div class="navigation3__mega-menu__content__bar " id="forMyBusinessMenu">
                <!-- Products -->
                <div class="navigation3__mega-menu__content__bar__btn navigation3__mega-menu__content__bar__btn--6 ">
                    <div class="navigation3__mega-menu__content__bar__header" id="firstBusHeader">Products</div>
                    <ul class="navigation3__mega-menu__content__bar__links" id="firstBusLinks">
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Business accounts</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Credit cards</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Specialised industry accounts</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Global accounts</a></li>     
                            </ul>    
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Savings & cash investments</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">3PIM (3rd party investment manager)</a></li>     
                            </ul>            
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Credit cards</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Overdraft</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Loans</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Financing solutions</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Commercial property finance</a></li>     
                            </ul>
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Employer's Funeral Plan</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Key Person Insurance</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Short-term insurance</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Risk advisory</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Wealth & fiduciary</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Law on Call Business Plan</a></li>     
                            </ul>
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Transact</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Borrow</a></li>            
                            </ul>
                        </li>
                    </ul>  
                </div>
                <!-- Business solutions -->
                <div class="navigation3__mega-menu__content__bar__btn navigation3__mega-menu__content__bar__btn--6 ">
                    <div class="navigation3__mega-menu__content__bar__header">Business solutions</div>
                    <ul class="navigation3__mega-menu__content__bar__links">
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">SmartBOX™</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">SmartTILL™</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">ATM Advance</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Bulk cash processing</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Branch</a></li>     
                            </ul>    
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Why choose us</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Our products</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Risk & fraud</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Legal</a></li>     
                            </ul>            
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Global Commercial Banking</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Agriculture</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Public Sector</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Education</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Healthcare</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Franchise</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Motor Dealership</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Tourism</a></li>     
                            </ul>
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Fleet management services</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">DocTrail™</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Instant Accounting Solutions</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Instant Payroll</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Instant Cashflow</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Instant Invoicing</a></li>     
                            </ul>
                        </li>  
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Business Directory</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">The dti initiatives</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">CIPC + BEE</a></li>     
                            </ul>
                        </li>  
                    </ul> 
                </div>
                <!-- Services -->
                <div class="navigation3__mega-menu__content__bar__btn navigation3__mega-menu__content__bar__btn--6 ">
                    <div class="navigation3__mega-menu__content__bar__header">Services</div>
                    <ul class="navigation3__mega-menu__content__bar__links">
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">KYC / FICA</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Debit order & recipient switching</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Electronic alerts</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Employee  solutions</a></li>     
                            </ul>    
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Financial advisory</a></li>     
                            </ul>            
                        </li>                   
                    </ul> 
                </div>     
                <!-- Rewards -->
                <div class="navigation3__mega-menu__content__bar__btn navigation3__mega-menu__content__bar__btn--6 ">
                    <div class="navigation3__mega-menu__content__bar__header">Rewards</div>
                    <ul class="navigation3__mega-menu__content__bar__links">
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">eBucks rewards for business</a></li>     
                            </ul>    
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">SLOW Lounges</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">SLOW in the City</a></li>     
                            </ul>            
                        </li>                   
                    </ul> 
                </div>     
                <!-- Ways to bank -->
                <div class="navigation3__mega-menu__content__bar__btn navigation3__mega-menu__content__bar__btn--6 ">
                    <div class="navigation3__mega-menu__content__bar__header">Ways to bank</div>
                    <ul class="navigation3__mega-menu__content__bar__links">
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Debit order & salary switching</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Progress tracking</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Process verifications</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Uploads & downloads</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">FNB approved suppliers</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">eWallet balance enquiry</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">iContract</a></li>     
                            </ul>    
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Online Banking Enterprise™</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">App for smartphones</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">App for tablets</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Online Banking for Business</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Branch</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">ATM</a></li>     
                            </ul>            
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">nav» Home</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">nav» Car</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">nav» Money</a></li>     
                            </ul>
                        </li>  
                    </ul> 
                </div>     
                <!-- Information -->
                <div class="navigation3__mega-menu__content__bar__btn navigation3__mega-menu__content__bar__btn--6 ">
                    <div class="navigation3__mega-menu__content__bar__header">Information</div>
                    <ul class="navigation3__mega-menu__content__bar__links">
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Instant accounting solutions</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Demos</a></li>     
                            </ul>    
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">24/7 Business desk</a></li>     
                            </ul>            
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Latest scam</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Protect yourself</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Digital fraud</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Other types of fraud</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Documents & contacts</a></li>     
                            </ul>
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">ATM locator</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Branch locator</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Book a branch visit</a></li>       
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Business Directory</a></li>       
                            </ul>
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Home loans</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Day-to-day banking</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Shares</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Forex</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Vehicle repayment</a></li>     
                            </ul>
                        </li>
                        <li class="navigation3__mega-menu__content__bar__links__sub-header navigation3__mega-menu__content__bar__links__sub-header--6">
                            <ul class="navigation3__mega-menu__content__bar__links__products">
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Product rates</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Pricing guide</a></li>     
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Foreign exchange rates</a></li>       
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">Lending rates</a></li>       
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">SA indicators</a></li>       
                                <li><a class="navigation3__mega-menu__content__bar__links__products__link" href="">FirstRand share price</a></li>       
                            </ul>
                        </li>
                    </ul>           
                </div> 
            </div>

        </div>    
    </div>
</div>      


<!-- Menu JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
<script type="text/javascript" src="../../../js/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="../../../js/nav3.js"></script>


