<!-- Segements Menu -->
<div class="navigation__segments">
    <div class="navigation__segments__nav">
        <ul class="navigation__segments__list1">
            <li class="navigation__segments__item"><a href="../../index.html" class="navigation__segments__link">Personal</a></li>
            <li class="navigation__segments__item"><a href="../../index_business.html" class="navigation__segments__link">Business</a></li>
            <li class="navigation__segments__item"><a href="../../index_private.html" class="navigation__segments__link">Private</a></li>
            <li class="navigation__segments__item"><a href="../../index_corporate.html" class="navigation__segments__link navigation__segments__link__active">Corporate</a></li>
        </ul>   
        <ul class="navigation__segments__list2">    
            <li class="navigation__segments__item"><a href="#" class="navigation__segments__link">About us</a></li>
            <li class="navigation__segments__item"><a href="#" class="navigation__segments__link">Contact us</a></li>
            <li class="navigation__segments__item"><a href="#" class="navigation__segments__link">Country</a><span class=" navigation__segments__flag"></span></li>
        </ul>   
    </div>
</div>

<!-- Logo + Search + Login -->
<div class="navigation__menu">     
    <div class="navigation__menu__nav">
        <div class="navigation__menu__nav__list-1">
            <div class="navigation__menu__nav__logo hide"><img width="100%" src="../../../img/base/FNB_Logo.svg"></div> 
        </div>    
        <div class="navigation__menu__nav__list-2">
            <div class="navigation__menu__nav__search  navigation__menu__nav__search__btn">
                <input class="navigation__menu__nav__search__input" type="text"  id="search-toggle">
                <div class="navigation__menu__nav__search__bg">
                    <span class="heading heading--3 home__slide6__form-content--heading-align">Search Results Demo</span>
                    <a class="textBtn" href="">Result 1 </a> <br/>
                    <a class="textBtn" href="">Result 2 </a>  <br/>
                    <a class="textBtn" href="">Result 3 </a>  <br/>
                    <a class="textBtn" href="">Result 4 </a>  <br/>
                </div>  
            </div>
            <div class="navigation__menu__nav__login" onclick="loginBtn()">
                <a href="#" class="navigation__menu__nav__login__btn btn--amber " >Login</a>
                <a href="#" class="navigation__menu__nav__login__btn__close" ></a>
            </div>
            <div class="navigation__menu__nav__logo show"><img width="100%" src="../../../img/base/FNB_Logo.svg"></div> 
        </div>    
    </div> 
</div>

<!-- Burger Menu -->
<input type="checkbox" class="navigation__menu__checkbox" id="navi-toggle" onclick="menuTriger()">
<label for="navi-toggle" class="navigation__menu__button">   
    <span class="navigation__menu__icon">&nbsp;</span>
    <span class="navigation__menu__label1 hide">Menu</span>
    <span class="navigation__menu__label2 hide">Close</span>
</label> 

<!-- Mega Menu -->
<div class="navigation__menu__tint"></div> 
<div class="navigation__menu__background">
    <!-- PC MENU -->
    <div class="navigation__mega-menu" id="megaMenu">
        <div class="navigation__mega-menu__line">&nbsp</div>
        <!-- Corporate & Investment Banking in Africa -->
        <div class="navigation__mega-menu__btn" id="first">  
            <div class="navigation__mega-menu__header">Corporate & Investment Banking in Africa</div>
            <ul class="navigation__mega-menu__content navigation__mega-menu__content__links">
                <li class="navigation__mega-menu__content__links__sub-header">
                    <ul class="navigation__mega-menu__content__links__products">
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Learn more</a></li>     
                        <li><a class="navigation__mega-menu__content__links__products__link" href="">Get in touch</a></li>     
                    </ul>    
                </li>
            </ul>  
        </div>  
    </div> 
    
    <!-- PH MENU -->
    <div class="navigation__mega-menu-phone" id="megaMenuPhone">
        <div class="nav__phone">
            <div class="navigation__mega-menu-phone__phone__segment">Corporate</div>    
            <div class="navigation__mega-menu-phone__phone__menu"></div>     
        </div>
        <!-- Products -->
        <div class="navigation__mega-menu-phone__btn-container">
            <span class="navigation__mega-menu-phone__back" onclick="backBtn()"></span>   
            <div class="navigation__mega-menu-phone__header"><span class="navigation__mega-menu-phone__header--padding">Products</span>
                <ul class="navigation__mega-menu-phone__content navigation__mega-menu__content__links">
                    <li class="navigation__mega-menu-phone__content__links__sub-header" >Corporate & Investment Banking in Africa
                        <ul class="navigation__mega-menu-phone__content__links__products">
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Learn more</a></li>     
                            <li><a class="navigation__mega-menu-phone__content__links__products__link" href="">Get in touch</a></li>     
                        </ul>    
                    </li>
                </ul>       
            </div>     
        </div>  
    </div>           
</div> 

<!-- Login Menu -->
<div class="navigation__menu__tint2" id="tint" onclick="loginBtn()"></div> 
<div class="navigation__menu__background2" id="Bg">
    <!-- Login MENU -->
    <div class="navigation__login-menu" id="login-menu">
        <div class="navigation__login-menu__bars show">
            <div class="navigation__login-menu__bars--top"></div>
            <div class="navigation__login-menu__bars--bot">
                <div class="navigation__menu__nav__login" onclick="loginBtn()">
                    <a href="#" class="navigation__menu__nav__login__btn__close " ></a>
                </div>
            </div>
        </div>  
        <div class="navigation__login-menu__content">
            <div class="row row__height13 navigation__login-menu__content--flex ">
                <div class="navigation__login-menu__content--flex__1 hide">
                    <div class="navigation__login-menu__form-content row__height13">
                        <span class="heading heading--3 navigation__login-menu__form-content--heading-align">Bank on the move</span>
                        <span class="heading heading--4 navigation__login-menu__form-content--heading-align">Get the FNB banking app & take your banking to the next level.</span>
                        <p class="paragraph--tick">Login with your fingerprints</p>
                        <p class="paragraph--tick">Manage your finance with nav» Money</p>
                        <p class="paragraph--tick">Easily buy airtime & electricity</p>
                        <div class="navigation__login-menu__stores">
                            <a href="/underConstryction1.html" class="btn btn--imageWhite  btn--short btn--shadow navigation__login-menu__stores__btn"><img width="80%" src="img/base/download_white_android.jpg"></a>
                            <a href="/underConstryction1.html" class="btn btn--imageWhite  btn--short btn--shadow"><img width="80%" src="img/base/download_white_apple.jpg"></a>
                        </div>
                    </div>
                </div>
                <div class="navigation__login-menu__content--flex__2 hide">
                    <div class="row__height13 line--vertical">&nbsp;</div>
                </div>
                <div class="navigation__login-menu__content--flex__3">
                    <div class="navigation__login-menu__form-content row__height13">
                        <span class="heading heading--3 navigation__login-menu__form-content--heading-align">Login to banking</span>
                        <form class="">
                            <div class="form">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Username</label>
                            </div>
                            <div class="form">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Password</label>
                            </div>
                        </form>
                        <div><a class="btn btn--amber btn--short btn--shadow navigation__login-menu__form-content--button-align" href="/underConstryction1.html">Login </a></div>
                        <div><a class="btn btn--white btn--short btn--shadow navigation__login-menu__form-content--button-align" href="/underConstryction1.html">Register </a></div>
                        <a class="textBtn" href="/underConstryction1.html">Forgot Password </a>    
                    </div>
                </div>
                
                <div class="navigation__login-menu__stores show">
                    <p class="paragraph">Download the app</p>
                    <a href="/underConstryction1.html" class="btn btn--short btn--imageWhite btn--shadow ">
                        <img width="60%" src="img/base/download_white_apple.jpg">
                    </a>
                </div>
            </div>
        </div>    
    </div> 
</div> 

<!-- Menu JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
<script type="text/javascript" src="../../../js/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="../../../js/nav.js"></script>


